/********************************************************************************************/
/* Full screen
/********************************************************************************************/
li[data-type="feed"]
{
	background:#fff;
	padding:0;
}
li[data-type="feed"] label
{
	display:none;
}
li[data-type="feed"] .wrapper
{
	width:100%;
}

li[data-type="feed"] .wrapper .field
{
	padding:0;
}

/********************************************************************************************/
/* Feed
/********************************************************************************************/
ol>li.select {
	margin:20px 0;
	overflow:auto;
}
ol>li.select .field {
	float:left;
	width:40%;

	text-align:right;
}
ol>li.select .field select {
	width:300px;
	position:relative;
	top:-25px;
}
ol>li.select label,
ol>li.select .help {
	float:right;
	clear:right;
	width:45%;
	padding-right:100px;
}

ol>li.select label
{
	font-size:2em;
	position:relative;
	margin:0 0 3px 0;
}
ol>li.select .help
{
	color:#999;
}
ol>li.select label:before
{
	content:'{';
	position:absolute;
	top:-25px;
	left:-40px;
	color:#ddd;
	font-size:90px;
}

/********************************************************************************************/
/* Feed
/********************************************************************************************/
li[data-type="feed"] .field {
	border:none !important;
}
li[data-type="feed"] .field .selected,
li[data-type="feed"] .field .available
{
	width:33%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:10px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.027);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.027);
	-o-box-shadow: 0px 2px 2px rgba(0,0,0,0.027);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.027);
	position:relative;
}

ol>li[data-type="feed"] .field .h3-wrapper {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -1px;
	right: -1px;
	pointer-events:none;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
}
ol>li[data-type="feed"] .field :hover .h3-wrapper {
	opacity:0;
}
ol>li[data-type="feed"] .field h3 {
	text-transform:uppercase;
	color: #333;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	position: relative;
	padding: 4px 0;
	font-size:9px;
	left: 0px;
	top: 15px;
	width: 120px;
	color: #F2F2F2;
	background:#363f48;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
	font-family:'proximanovabold';
}

ol>li[data-type="feed"] .field h3:before {
	left: 0;
}
ol>li[data-type="feed"] .field h3:after {
	right: 0;
}
li[data-type="feed"] .field .cc-bubble
{
	position:absolute;
	top:-30px;
	right:-20px;
	display:none;
}

/********************************************************************************************/
/* Selected */
/********************************************************************************************/
li[data-type="feed"] .field .selected
{
	border:1px dashed #ddd;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
}
li[data-type="feed"] .field .selected.list
{
	float:left;
}
li[data-type="feed"] .field .selected.detail
{
	float:right;
}
li[data-type="feed"] .field .selected ol
{
}
li[data-type="feed"] .field .selected .placeholder
{
	height:30px;
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	background-size: 40px 40px; /* Controls the size of the stripes */
	background-color: transparent;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,
		color-stop(.055, rgba(0, 0, 0, .05)), color-stop(.055, transparent),
		color-stop(.5, transparent), color-stop(.5, rgba(0, 0, 0, .05)),
		color-stop(.75, rgba(0, 0, 0, .05)), color-stop(.75, transparent),
		to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
		transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
		transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
		transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
		transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
		transparent 75%, transparent);
}

/********************************************************************************************/
/* Available */
/********************************************************************************************/
li[data-type="feed"] .field .available
{
	float:left;
	background:#F0F0F0;
}
li[data-type="feed"] .field .available ul
{
	overflow:auto;
	max-height:250px;
}
li[data-type="feed"] .field .available li .delete,
li[data-type="feed"] .field .available li .descr
{
	display:none;
}

/* Refine */
li[data-type="feed"] .refine input
{
	width:100% !important;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin:0 0 5px 0;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

/* Nodata */
li[data-type="feed"] .field li:not(.nodata)
{
	border:1px solid #dedede;
	background:#fff;
	padding:5px;
	margin:1px 0;
	min-height:17px;
	font-size:0.9em;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	-moz-user-select:none;
	-webkit-user-select:none;
}
li[data-type="feed"] .field li:not(.nodata):hover
{
	background:#eee;
}

/* Champs*/
li[data-type="feed"] .field li .icon
{
	width:17px;
	height:17px;
	float:left;
	margin:0 !important;
}

li[data-type="feed"] .field li .title
{
	margin-left:23px;
}
li[data-type="feed"] .field li .descr
{
	color:#ccc;
	margin-left:23px;
}
li[data-type="feed"] .field li .delete
{
	float:right;
	width:13px;
	height:13px;
	font-size:8px;
}
li[data-type="feed"] .field li .delete:before
{
	content:'×';
}