/********************************************************************************************/
/* Field edit
/********************************************************************************************/
[data-type="fieldedit"]>.wrapper
{
	width:100% !important;
}
[data-type="fieldedit"]>.wrapper ol
{
	background:#ccc;
	moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin:10px;
	padding:10px 10px 0 10px;
	overflow:auto;
}
[data-type="fieldedit"]>.wrapper ol li
{
	margin:0 0 10px 0 !important;
}
[data-type="fieldedit"]>.wrapper ol li .help
{
	padding:10px;
}