/********************************************************************************************/
/* All fields
/********************************************************************************************/
/*div { border: 5px solid !important;}*/
ol>li .field
{
}
/* Placeholders */
::-webkit-input-placeholder
{
   color:#ddd;
}
:-moz-placeholder
{
   color:#ddd;
}

/********************************************************************************************/
/* Hide away submit buttons
/********************************************************************************************/
form button[type="submit"]
{
	/* This is disgusting, but Chrome doesn't like display:none */
/*	position: absolute; width: 1px; height: 1px; left: -9999px; */
}

/********************************************************************************************/
/* Text fields
/********************************************************************************************/
ol>li input,
ol>li select,
ol>li textarea
{
}
ol>li input,
ol>li textarea
{
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
input,
select,
textarea
{
	border:1px solid transparent;
	padding:7px;
	margin:0;
	resize:none;
	font-family:arial;
	color:#666666;
	font-size:1em;
}

/********************************************************************************************/
/* Select
/********************************************************************************************/
ol>li[data-type="select"] .select2-container
{
	width:100%;
}

/********************************************************************************************/
/* Bool
/********************************************************************************************/
ol>li[data-type="bool"] .wrapper
{
	padding-top:6px;
}

/********************************************************************************************/
/* Textarea
/********************************************************************************************/
ol>li[data-type="textarea"] textarea
{
	min-height:40px;
}

/********************************************************************************************/
/* General
/********************************************************************************************/
ol>li[data-type="code"] textarea
{
	font-family:Courier;
}

/********************************************************************************************/
/* URL-rewritten */
/********************************************************************************************/
ol>li[data-type="urlr"] span
{
	padding:0 0 0 7px;
}
ol>li[data-type="urlr"] input
{
	width:140px;
}

/********************************************************************************************/
/* Radios & checkboxes */
/********************************************************************************************/
ol>li .radio,
ol>li .checkbox
{
	font-size:0.9em;
	padding:1px 1px 0 1px;
}
ol>li[data-type="radio"] li,
ol>li[data-type="checkbox"] li
{
	padding:5px;
	margin-bottom:1px;
}
ol>li[data-type="radio"] li.on,
ol>li[data-type="checkbox"] li.on
{
	background:#eee;
}
ol>li[data-type="radio"] input,
ol>li[data-type="checkbox"] input
{
	float:left;
	width:auto;
	margin:0;
}
ol>li[data-type="radio"] li span,
ol>li[data-type="checkbox"] li span
{
}
ol>li[data-type="radio"] li label span,
ol>li[data-type="checkbox"] li label span
{
	margin-left:20px;
	display:block;
}
ol>li[data-type="radio"] .title,
ol>li[data-type="checkbox"] .title
{
}
ol>li[data-type="radio"] .descr,
ol>li[data-type="checkbox"] .descr
{
	display:none;
	color:#999999;
}
ol>li[data-type="radio"] li.on .descr,
ol>li[data-type="checkbox"] li.on .descr
{
	display:block;
}

/********************************************************************************************/
/* Media (unique & multiple) */
/********************************************************************************************/
ol>li[data-type="media"] .field ul
{
	margin:10px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	background-color:#ffffff !important;
	border:3px dashed #eeeeee;
}

/********************************************************************************************/
/* Date & time */
/********************************************************************************************/
ol>li .field .day
{width:50px;}
ol>li .field .month
{width:90px;}
ol>li .field .year
{width:70px;}
ol>li .field .hour
{width:60px;}
ol>li .field .minute
{width:50px;}

/********************************************************************************************/
/* Date & time picker */
/********************************************************************************************/
.datepicker .pick,
.datetimepicker .pick
{
	background:#333333 url('../image/icon/icon_action_unlock_white.png') no-repeat 50% 50%;
	width:20px;
	height:20px;
	display:inline-block;
}

/********************************************************************************************/
/* Apps
/********************************************************************************************/
ol>li[data-type="app"] .field
{
}
ol>li[data-type="app"] .field>ul>li.app
{
	float:left;
	margin:10px;
	width:100px;
}
ol>li[data-type="app"] .field>ul>li.app>.icon
{
	width:50px;
	height:50px;
	margin-bottom:10px;
	margin:auto;
}
ol>li[data-type="app"] .field>ul>li.app>.title
{
	font-size:10px;
	text-align:center;
}
ol>li[data-type="app"] .field>ul>li.subform
{
	background:#eee;
	min-height:300px;
	clear:left;
	padding:30px;
	box-shadow: inset 0px 7px 7px -7px rgba(0, 0, 0, 0.4);
}

/********************************************************************************************/
/* Labels for full lenght fields
/********************************************************************************************/
ol>li[data-type="wysiwyg"],
ol>li[data-type="multipleselect"],
ol>li[data-type="attr"],
ol>li[data-type="rel"],
ol>li[data-type="app"],
ol>li[data-type="media"]
{
	padding:10px 0px 3px 0px !important;
}
ol>li[data-type="wysiwyg"]>label,
ol>li[data-type="multipleselect"]>label,
ol>li[data-type="attr"]>label,
ol>li[data-type="rel"]>label,
ol>li[data-type="app"]>label,
ol>li[data-type="media"]>label
{
	float:none !important;
	display:block !important;
	width:auto !important;
	padding:10px 0 !important;
	margin:0 0 10px 0 !important;
	text-align:center !important;
}
ol>li[data-type="wysiwyg"]>.wrapper,
ol>li[data-type="multipleselect"]>.wrapper,
ol>li[data-type="attr"]>.wrapper,
ol>li[data-type="rel"]>.wrapper,
ol>li[data-type="app"]>.wrapper,
ol>li[data-type="media"]>.wrapper
{
	width:auto !important;
	display:block !important;
	margin:0 3px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
ol>li[data-type="wysiwyg"]>.wrapper>.field,
ol>li[data-type="multipleselect"]>.wrapper>.field,
ol>li[data-type="attr"]>.wrapper>.field,
ol>li[data-type="rel"]>.wrapper>.field,
ol>li[data-type="app"]>.wrapper>.field,
ol>li[data-type="media"]>.wrapper>.field
{
	background:#fff !important;
}