#eventstream {}
#eventstream ul
{
	padding-left:5px; /* optical alignment */
	list-style-type:disc;
	color:#fff;
	margin-left:60px;
}
#eventstream ul li
{
	margin-bottom: 1px;
	font-size: 12px;
	position:relative;
/*	display:none;*/
}
#eventstream ul li a
{
	color:#fff;
	border-bottom:1px solid rgba(255, 255, 255, 0.4);
}
#eventstream ul li:hover
{
	opacity:1;
}
#eventstream ul li:not(:first-child):before
{
	content:'';
	width:1px;
	position:absolute;
	border-left:2px solid rgba(255, 255, 255, 0.5);
	height:7px;
	bottom:10px;
	left:-13px;
}
#eventstream ul.everybodyelse li:first-child:before
{
	content:'';
	width:10px;
	position:absolute;
	border-top:1px dotted #ccc;
	height:0px;
	top:0px;
	left:-17px;
}