/********************************************************************************************/
/* Footer
/********************************************************************************************/
footer
{
	font-size:0.75em;
	overflow:auto;
	color:#a7abb1;
	padding:50px 30px 30px 30px;
}
footer a
{
	color:#666;
}
/* mnsys */
#mnsys
{
	float:left;
}
#mnsys li
{
	display:inline;
}
#mnsys li:after
{
	content:'•';
	margin:0 3px 0 5px;
	color:#999;
}
#mnsys li:last-child:after
{
	content:'';
}

/* mnflags */
#mnflags
{
	float:right;
}
#mnflags li
{
	display:inline;
}