/********************************************************************************************/
/* H1
/********************************************************************************************/
header
{
	padding:30px 60px;
	background:#24A6B3;
}
header h1
{
	font-size:2.5em;
}
header h1 a
{
	color:#fff;
}
header h1 i
{

	color:#fff;
	font-size:0.85em;
}
header h1 .structure
{
	font-family: "Raleway-Thin";
}
header h1 .item
{
	font-family: "Raleway-Thin";
}