/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Import des typos
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/


/********************************************************************************************/
/* Login
/********************************************************************************************/
body,
html
{
	padding:0;
	margin:0;
	overflow:hidden;
	background:#bbb;
}

/********************************************************************************************/
/* Overlay
/********************************************************************************************/
#popup_overlay
{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	height:900px;
	z-index:2;
	background-color: rgba(0, 0, 0, 0.5);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.7) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#ebffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/********************************************************************************************/
/* iframes
/********************************************************************************************/
iframe
{
	border:none;
	position:absolute;
	height:100%;
	width:100%;
	-webkit-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.1);
	-webkit-transition: all .9s ease-out; 
	-moz-transition: all .9s ease-out; 
	-o-transition: all .9s ease-out; 
	transition: all .9s ease-out;
	top:0;
	position:absolute;
	z-index:1;
	background:#888;
}
iframe.zoomout
{
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
}
iframe#site
{
	left:0;
}
iframe#admin 
{
	left:100%;
}
iframe#site.final
{
	left:-100%;
}
iframe#admin.final
{
	left:0;
}


/********************************************************************************************/
/* Login
/********************************************************************************************/
#content
{
	top:200px;	
	position:absolute;
	z-index:3;
	width:100%;
}
form
{
	margin:auto;
	width: 500px;
	padding:20px;
	color:#666;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	background:#fff;
	border-radius: 3px;
	border: 1px solid #ddd;
	border-bottom-color: #c5c5c5;
	box-shadow: 0 1px 10px rgba(0,0,0,0.4);
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
form fieldset
{
	padding:0;
	border:0;
}
form ol
{
	padding:0;
	margin:0;
	list-style-type:none;
	overflow:auto;
	position:relative;
}
form ol li
{
}
form ol li i
{
}
label
{
	display:none;
}
input
{
	font-size:40px;
	width:100%;
	padding:10px;
	border:none;
	border-bottom:1px solid #ccc;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
button[type="submit"]
{
	/* This is disgusting */
	position: absolute; width: 1px; height: 1px; left: -9999px;
}