/********************************************************************************************/
/* Login
/********************************************************************************************/
#grandCentralLogo
{
	border-radius:150px;
	background:#fff;
	width:150px;
	height:150px;
	margin:0 auto 50px auto;
}
form
{
	margin:auto;
	width: 500px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-300px 0 0 -250px;
}
form fieldset
{
	padding:0;
	border:0;
}
form ol
{
	padding:0;
	margin:0;
	list-style-type:none;
	overflow:auto;
	position:relative;
}
form ol li
{
}
form ol li i
{
}
label
{
	display:none;
}
input
{
	font-size:40px;
	width:100%;
	padding:10px;
	border:none;
	text-align:center;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family:"Raleway-Thin";
	color:#fff;
}
button[type="submit"]
{
	/* This is disgusting */
	position: absolute; width: 1px; height: 1px; left: -9999px;
}