/********************************************************************************************/
/* Choices
/********************************************************************************************/
#greenbutton-choices
{
}
#greenbutton-choices ul li
{
	padding:15px;
	border-bottom:1px solid #ccc;
	cursor:pointer;
}
#greenbutton-choices ul li .title
{
	font-family:'Raleway-Thin';
	color:#000;
}
#greenbutton-choices ul li .descr
{
	color:#ccc;
	font-size:0.8em;
}