#content {
  z-index: 2;
  width: 340px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top; }

#phone {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateX(-170px) translateY(-360px);
  -moz-transform: translateX(-170px) translateY(-360px);
  -ms-transform: translateX(-170px) translateY(-360px);
  -o-transform: translateX(-170px) translateY(-360px);
  transform: translateX(-170px) translateY(-360px);}

#lentille {
  position: absolute;
  margin-top: 28px;
  margin-left: 138px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(3px);
  -moz-transform: translateZ(3px);
  -ms-transform: translateZ(3px);
  -o-transform: translateZ(3px);
  transform: translateZ(3px); }

#bouton {
  position: absolute;
  margin-top: 636px;
  margin-left: 138px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(3px);
  -moz-transform: translateZ(3px);
  -ms-transform: translateZ(3px);
  -o-transform: translateZ(3px);
  transform: translateZ(3px); }

#front {
  position: absolute;
  background-image: url("../image/front_720.png");
  width: 340px;
  height: 720px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#phonescreen {
  border: none 0px black;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#screen {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#screen.portrait {
  width: 320px;
  height: 568px;
  -webkit-transform: translateX(10px) translateY(77px) translateZ(1px) scale(0.9125);
  -moz-transform: translateX(10px) translateY(77px) translateZ(1px) scale(0.9125);
  -ms-transform: translateX(10px) translateY(77px) translateZ(1px) scale(0.9125);
  -o-transform: translateX(10px) translateY(77px) translateZ(1px) scale(0.9125);
  transform: translateX(10px) translateY(77px) translateZ(1px) scale(0.9125); }

#screen.landscape {
  width: 568px;
  height: 320px;
  -webkit-transform: translateX(-112px) translateY(200px) translateZ(1px) scale(0.9125);
  -moz-transform: translateX(-112px) translateY(200px) translateZ(1px) scale(0.9125);
  -ms-transform: translateX(-112px) translateY(200px) translateZ(1px) scale(0.9125);
  -o-transform: translateX(-112px) translateY(200px) translateZ(1px) scale(0.9125);
  transform: translateX(-112px) translateY(200px) translateZ(1px) scale(0.9125); }

.reflet {
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  border-radius: 47px;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent; }

.reflet.portrait {
  left: 6px;
  top: 6px;
  width: 328px;
  height: 708px;
  background-image: url("../image/reflet.png"); }

.reflet.landscape {
  left: -184px;
  top: 197px;
  width: 708px;
  height: 328px;
  background-image: url("../image/reflet2.png"); }

#reflet.portrait {
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  -ms-transform: translateZ(2px);
  -o-transform: translateZ(2px);
  transform: translateZ(2px); }

#reflet.landscape {
  -webkit-transform: translateZ(2px) rotateZ(-90deg);
  -moz-transform: translateZ(2px) rotateZ(-90deg);
  -ms-transform: translateZ(2px) rotateZ(-90deg);
  -o-transform: translateZ(2px) rotateZ(-90deg);
  transform: translateZ(2px) rotateZ(-90deg); }

#refletBack.portrait {
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px); }

#refletBack.landscape {
  -webkit-transform: translateZ(1px) rotateZ(90deg);
  -moz-transform: translateZ(1px) rotateZ(90deg);
  -ms-transform: translateZ(1px) rotateZ(90deg);
  -o-transform: translateZ(1px) rotateZ(90deg);
  transform: translateZ(1px) rotateZ(90deg); }

#back {
  position: absolute;
  -webkit-transform: rotateY(180deg) translateX(-340px) translateZ(40px);
  -moz-transform: rotateY(180deg) translateX(-340px) translateZ(40px);
  -ms-transform: rotateY(180deg) translateX(-340px) translateZ(40px);
  -o-transform: rotateY(180deg) translateX(-340px) translateZ(40px);
  transform: rotateY(180deg) translateX(-340px) translateZ(40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#background {
  position: absolute;
  background-color: #000;
  border-radius: 47px;
  width: 340px;
  height: 720px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#backlentille {
  position: absolute;
  width: 340px;
  height: 720px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  -ms-transform: translateZ(2px);
  -o-transform: translateZ(2px);
  transform: translateZ(2px); }

.flatBorder {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.roundBorder {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: url("../image/iphoneside.png"); }

#borderRight {
  height: 40px;
  width: 620px;
  margin-top: 340px;
  margin-left: -310px;
  background-image: url("../image/iphoneright.png");
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(20px);
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateY(20px);
  -ms-transform: rotateY(-90deg) rotateZ(90deg) translateY(20px);
  -o-transform: rotateY(-90deg) rotateZ(90deg) translateY(20px);
  transform: rotateY(-90deg) rotateZ(90deg) translateY(20px); }

#borderLeft {
  height: 40px;
  width: 620px;
  margin-top: 340px;
  margin-left: 30px;
  background-image: url("../image/iphoneleft.png");
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateY(20px);
  -moz-transform: rotateY(90deg) rotateZ(-90deg) translateY(20px);
  -ms-transform: rotateY(90deg) rotateZ(-90deg) translateY(20px);
  -o-transform: rotateY(90deg) rotateZ(-90deg) translateY(20px);
  transform: rotateY(90deg) rotateZ(-90deg) translateY(20px); }

#borderBottom {
  margin-left: 50px;
  margin-top: 700px;
  width: 240px;
  height: 40px;
  background-image: url("../image/iphonebottom.png");
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateX(-90deg) translateY(20px);
  -moz-transform: rotateX(-90deg) translateY(20px);
  -ms-transform: rotateX(-90deg) translateY(20px);
  -o-transform: rotateX(-90deg) translateY(20px);
  transform: rotateX(-90deg) translateY(20px); }

#borderTop {
  margin-left: 50px;
  margin-top: -20px;
  width: 240px;
  height: 40px;
  background-image: url("../image/iphonetop.png");
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateX(90deg) translateY(-20px);
  -moz-transform: rotateX(90deg) translateY(-20px);
  -ms-transform: rotateX(90deg) translateY(-20px);
  -o-transform: rotateX(90deg) translateY(-20px);
  transform: rotateX(90deg) translateY(-20px); }

.corner {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#cornerTL {
  -webkit-transform: translateX(44px) translateY(50px) rotateX(90deg);
  -moz-transform: translateX(44px) translateY(50px) rotateX(90deg);
  -ms-transform: translateX(44px) translateY(50px) rotateX(90deg);
  -o-transform: translateX(44px) translateY(50px) rotateX(90deg);
  transform: translateX(44px) translateY(50px) rotateX(90deg); }

#cornerTR {
  -webkit-transform: translateX(283px) translateY(50px) rotateX(90deg);
  -moz-transform: translateX(283px) translateY(50px) rotateX(90deg);
  -ms-transform: translateX(283px) translateY(50px) rotateX(90deg);
  -o-transform: translateX(283px) translateY(50px) rotateX(90deg);
  transform: translateX(283px) translateY(50px) rotateX(90deg); }

#cornerBL {
  -webkit-transform: translateX(44px) translateY(670px) rotateX(90deg);
  -moz-transform: translateX(44px) translateY(670px) rotateX(90deg);
  -ms-transform: translateX(44px) translateY(670px) rotateX(90deg);
  -o-transform: translateX(44px) translateY(670px) rotateX(90deg);
  transform: translateX(44px) translateY(670px) rotateX(90deg); }

#cornerBR {
  -webkit-transform: translateX(283px) translateY(670px) rotateX(90deg);
  -moz-transform: translateX(283px) translateY(670px) rotateX(90deg);
  -ms-transform: translateX(283px) translateY(670px) rotateX(90deg);
  -o-transform: translateX(283px) translateY(670px) rotateX(90deg);
  transform: translateX(283px) translateY(670px) rotateX(90deg); }

#borderTL1 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(-7.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(-7.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(-7.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(-7.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(-7.5deg) translateZ(50px) translateY(-40px); }

#borderTL2 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(-22.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(-22.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(-22.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(-22.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(-22.5deg) translateZ(50px) translateY(-40px); }

#borderTL3 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(-37.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(-37.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(-37.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(-37.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(-37.5deg) translateZ(50px) translateY(-40px); }

#borderTL4 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(-52.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(-52.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(-52.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(-52.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(-52.5deg) translateZ(50px) translateY(-40px); }

#borderTL5 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(-67.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(-67.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(-67.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(-67.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(-67.5deg) translateZ(50px) translateY(-40px); }

#borderTL6 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(-82.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(-82.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(-82.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(-82.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(-82.5deg) translateZ(50px) translateY(-40px); }

#borderTR1 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(7.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(7.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(7.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(7.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(7.5deg) translateZ(50px) translateY(-40px); }

#borderTR2 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(22.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(22.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(22.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(22.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(22.5deg) translateZ(50px) translateY(-40px); }

#borderTR3 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(37.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(37.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(37.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(37.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(37.5deg) translateZ(50px) translateY(-40px); }

#borderTR4 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(52.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(52.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(52.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(52.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(52.5deg) translateZ(50px) translateY(-40px); }

#borderTR5 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(67.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(67.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(67.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(67.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(67.5deg) translateZ(50px) translateY(-40px); }

#borderTR6 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(82.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(82.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(82.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(82.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(82.5deg) translateZ(50px) translateY(-40px); }

#borderBL1 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(187.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(187.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(187.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(187.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(187.5deg) translateZ(50px) translateY(-40px); }

#borderBL2 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(202.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(202.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(202.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(202.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(202.5deg) translateZ(50px) translateY(-40px); }

#borderBL3 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(217.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(217.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(217.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(217.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(217.5deg) translateZ(50px) translateY(-40px); }

#borderBL4 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(232.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(232.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(232.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(232.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(232.5deg) translateZ(50px) translateY(-40px); }

#borderBL5 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(247.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(247.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(247.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(247.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(247.5deg) translateZ(50px) translateY(-40px); }

#borderBL6 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(262.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(262.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(262.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(262.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(262.5deg) translateZ(50px) translateY(-40px); }

#borderBR1 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(172.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(172.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(172.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(172.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(172.5deg) translateZ(50px) translateY(-40px); }

#borderBR2 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(157.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(157.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(157.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(157.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(157.5deg) translateZ(50px) translateY(-40px); }

#borderBR3 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(142.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(142.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(142.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(142.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(142.5deg) translateZ(50px) translateY(-40px); }

#borderBR4 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(127.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(127.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(127.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(127.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(127.5deg) translateZ(50px) translateY(-40px); }

#borderBR5 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(112.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(112.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(112.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(112.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(112.5deg) translateZ(50px) translateY(-40px); }

#borderBR6 {
  width: 14px;
  height: 40px;
  -webkit-transform: rotateY(97.5deg) translateZ(50px) translateY(-40px);
  -moz-transform: rotateY(97.5deg) translateZ(50px) translateY(-40px);
  -ms-transform: rotateY(97.5deg) translateZ(50px) translateY(-40px);
  -o-transform: rotateY(97.5deg) translateZ(50px) translateY(-40px);
  transform: rotateY(97.5deg) translateZ(50px) translateY(-40px); }