#********************************************************************************************/
#/////////////////////////////////////////////////////////////////////////////////////////////
#/	Café Central (http://localhost/ccv4/root)
#/	COPYRIGHT		2011 Café Central
#/	FICHIER			.htaccess
#/	TYPE			URL rewriting
#/	GENERATED		x
#/////////////////////////////////////////////////////////////////////////////////////////////
#********************************************************************************************/

#********************************************************************************************/
#	OVH
#********************************************************************************************/

#********************************************************************************************/
#	PLAN DE REDIRECTION 2017-06-15 17:29 
#********************************************************************************************/

#*****************************************PERMANENT********************************************/

RewriteEngine On
RedirectPermanent /calendrier.php /calendrier

# /spectacles-en-vente-actuellement.php 
RewriteCond %{REQUEST_URI} ^/spectacles-en-vente-actuellement.php$
RewriteCond %{QUERY_STRING} ^id=209$
RewriteRule ^(.*)$ /fr/en-vente-actuellement? [R=301,L]

# billetterie-reservation.php
RewriteCond %{REQUEST_URI} ^/billetterie-reservation.php$
RewriteCond %{QUERY_STRING} ^id=192$
RewriteRule ^(.*)$ /fr/comment-reserver? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=190$
RewriteRule ^(.*)$ /fr/tarifs? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=487$
RewriteRule ^(.*)$ /fr/la-carte-cf? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=487$
RewriteRule ^(.*)$ /fr/la-carte-cf? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=199$
RewriteRule ^(.*)$ /fr/28-ans? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=587$
RewriteRule ^(.*)$ /fr/en-situation-de-handicap? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=488$
RewriteRule ^(.*)$ /fr/groupes-et-collectivites? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=630$
RewriteRule ^(.*)$ /fr/bons-plans? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=610$
RewriteRule ^(.*)$ /fr/bons-plans? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=566$
RewriteRule ^(.*)$ /fr/informations-pratiques? [R=301,L]

# /la-troupe-aujourdhui.php 
RewriteCond %{REQUEST_URI} ^/la-troupe-aujourdhui.php$
RewriteCond %{QUERY_STRING} ^id=512$
RewriteRule ^(.*)$ /fr/comediens-de-la-troupe? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=513$
RewriteRule ^(.*)$ /fr/societaires-honoraires? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=514$
RewriteRule ^(.*)$ /fr/fonctionnement-troupe? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=515$
RewriteRule ^(.*)$ /fr/societaires-honoraires? [R=301,L]

# /la-comedie-francaise-aujourdhui.php
RewriteCond %{REQUEST_URI} ^/la-comedie-francaise-aujourdhui.php$
RewriteCond %{QUERY_STRING} ^id=92$
RewriteRule ^(.*)$ /fr/saison? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=131$
RewriteRule ^(.*)$ /fr/administration-et-comites? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=227$
RewriteRule ^(.*)$ /fr/expositions? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=240$
RewriteRule ^(.*)$ /fr/expositions? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=545$
RewriteRule ^(.*)$ /fr/administrateur-general? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=491$
RewriteRule ^(.*)$ /fr/les-salles? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=495$
RewriteRule ^(.*)$ /fr/les-salles? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=502$
RewriteRule ^(.*)$ /fr/action-educative? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=562$
RewriteRule ^(.*)$ /fr/public-de-lenseignement? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=563$
RewriteRule ^(.*)$ /fr/public-de-lenseignement? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=564$
RewriteRule ^(.*)$ /fr/ressources-numeriques? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=503$
RewriteRule ^(.*)$ /fr/visites-de-groupe? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=504$
RewriteRule ^(.*)$ /fr/visites-de-groupe? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=568$
RewriteRule ^(.*)$ /fr/visites-individuelles? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=505$
RewriteRule ^(.*)$ /fr/les-metiers? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=624$
RewriteRule ^(.*)$ /fr/academie? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=507$
RewriteRule ^(.*)$ /fr/bibliotheque-et-documentation? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=508$
RewriteRule ^(.*)$ /fr/les-collections? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=509$
RewriteRule ^(.*)$ /fr/les-collections? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=493$
RewriteRule ^(.*)$ /fr/budgets-et-statuts? [R=301,L]

# /histoire-et-patrimoine.php
RewriteCond %{REQUEST_URI} ^/histoire-et-patrimoine.php$
RewriteCond %{QUERY_STRING} ^id=540$
RewriteRule ^(.*)$ /fr/actualites? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=511$
RewriteRule ^(.*)$ /fr/moliere? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=255$
RewriteRule ^(.*)$ /fr/moliere-hier? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=524$
RewriteRule ^(.*)$ /fr/fonctionnement-troupe? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=525$
RewriteRule ^(.*)$ /fr/les-piliers? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=526$
RewriteRule ^(.*)$ /fr/lhistoire-du-patrimoine? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=584$
RewriteRule ^(.*)$ /fr/lhistoire-du-patrimoine? [R=301,L]

# /la-grange-recherche-avancee.php
RewriteCond %{REQUEST_URI} ^/la-grange-recherche-avancee.php$
RewriteCond %{QUERY_STRING} ^id=551$
RewriteRule ^(.*)$ /fr/base-la-grange? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=550$
RewriteRule ^(.*)$ /fr/base-la-grange? [R=301,L]

# /mecenat-entreprises.php
RewriteCond %{REQUEST_URI} ^/mecenat-entreprises.php$
RewriteCond %{QUERY_STRING} ^id=484$
RewriteRule ^(.*)$ /fr/faites-un-don-en-ligne? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=115$
RewriteRule ^(.*)$ /fr/mecene-entreprises? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=116$
RewriteRule ^(.*)$ /fr/les-entreprises? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=117$
RewriteRule ^(.*)$ /fr/les-particuliers? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=607$
RewriteRule ^(.*)$ /fr/projets-a-soutenir? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=605$
RewriteRule ^(.*)$ /fr/faites-un-don-en-ligne? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=567$
RewriteRule ^(.*)$ /fr/faites-un-don-en-ligne? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=118$
RewriteRule ^(.*)$ /fr/partenariats? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=580$
RewriteRule ^(.*)$ /fr/vos-evenements? [R=301,L]

# /presse.php
RewriteCond %{REQUEST_URI} ^/presse.php$
RewriteCond %{QUERY_STRING} ^id=485$
RewriteRule ^(.*)$ /fr/journaliste? [R=301,L]

# /informations.php
RewriteCond %{REQUEST_URI} ^/informations.php$
RewriteCond %{QUERY_STRING} ^id=217$
RewriteRule ^(.*)$ /fr/contacts? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=185$
RewriteRule ^(.*)$ /fr/informations-pratiques? [R=301,L]

RewriteCond %{QUERY_STRING} ^id=188$
RewriteRule ^(.*)$ /fr/mentions-legales? [R=301,L]

# /plan-du-site.php
RewriteCond %{REQUEST_URI} ^/plan-du-site.php$
RewriteCond %{QUERY_STRING} ^id=184$
RewriteRule ^(.*)$ /fr/? [R=301,L]

#********************************************************************************************/
#	Better website experience for IE users
#********************************************************************************************/
	<IfModule mod_setenvif.c>
		<IfModule mod_headers.c>
			BrowserMatch MSIE ie
			Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
		</IfModule>
	</IfModule>

	<IfModule mod_headers.c>
		Header append Vary User-Agent
	</IfModule>

#********************************************************************************************/
# Expires headers (for better cache control)
#********************************************************************************************/

# these are pretty far-future expires headers
# they assume you control versioning with cachebusting query params like
#   <script src="application.js?20100608">
# additionally, consider that outdated proxies may miscache
#   www.stevesouders.com/blog/2008/08/23/revving-filenames-dont-use-querystring/

# if you don't use filenames to version, lower the css and js to something like
#   "access plus 1 week" or so

<IfModule mod_expires.c>
	ExpiresActive on

#	Perhaps better to whitelist expires rules? Perhaps.
	ExpiresDefault								"access plus 1 month"

#	cache.appcache needs re-requests in FF 3.6 (thx Remy ~Introducing HTML5)
	ExpiresByType text/cache-manifest			"access plus 0 seconds"

#	your document html
	ExpiresByType text/html						"access plus 0 seconds"

#	data
	ExpiresByType text/xml						"access plus 0 seconds"
	ExpiresByType application/xml				"access plus 0 seconds"
	ExpiresByType application/json				"access plus 0 seconds"

#	rss feed
	ExpiresByType application/rss+xml			"access plus 1 hour"

#	favicon (cannot be renamed)
	ExpiresByType image/x-icon					"access plus 1 week"

#	media: images, video, audio
	ExpiresByType image/gif						"access plus 1 month"
	ExpiresByType image/png						"access plus 1 month"
	ExpiresByType image/jpg						"access plus 1 month"
	ExpiresByType image/jpeg					"access plus 1 month"
	ExpiresByType video/ogg						"access plus 1 month"
	ExpiresByType audio/ogg						"access plus 1 month"
	ExpiresByType video/mp4						"access plus 1 month"
	ExpiresByType video/webm					"access plus 1 month"

#	htc files  (css3pie)
	ExpiresByType text/x-component				"access plus 1 month"

#	webfonts
	ExpiresByType font/truetype					"access plus 1 month"
	ExpiresByType font/opentype					"access plus 1 month"
	ExpiresByType application/font-woff			"access plus 1 month"
	ExpiresByType image/svg+xml					"access plus 1 month"
	ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

#	css and javascript
	ExpiresByType text/css						"access plus 2 months"
	ExpiresByType application/javascript		"access plus 2 months"
	ExpiresByType text/javascript				"access plus 2 months"

	<IfModule mod_headers.c>
		Header append Cache-Control "public"
	</IfModule>
</IfModule>

#********************************************************************************************/
# ETag removal
#********************************************************************************************/
# 	Since we're sending far-future expires, we don't need ETags for static content.
#	developer.yahoo.com/performance/rules.html#etags
	FileETag None
#********************************************************************************************/
#	Ordres à Apache pour la réécriture d'URL
#********************************************************************************************/
	Options +FollowSymlinks
	RewriteEngine on
#	Directory index (allows for a temporary index.html)
	DirectoryIndex index.html node.php
#********************************************************************************************/
#	General Rewriting
#********************************************************************************************/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{QUERY_STRING} (.*)
	RewriteRule ^(.*) node.php [L]
#********************************************************************************************/
#	UTF-8 encoding
#********************************************************************************************/
#	use utf-8 encoding for anything served text/plain or text/html
	AddDefaultCharset utf-8
#	force utf-8 for a number of file formats
	AddCharset utf-8 .html .css .js .xml .json .rss
#********************************************************************************************/
#	GZIP
#********************************************************************************************/
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
#********************************************************************************************/
#	A little more security
#********************************************************************************************/
	Options -Indexes
	DirectoryIndex template.php

	# Pour corriger le bug : https://bugs.php.net/bug.php?id=55544. OVH users, this is for you
	# php_flag zlib.output_compression off
