#registry
{
	border: 1px dashed #DE5465;
	margin-bottom: 10px;
	padding: 20px;
	font-size: 14px;
	overflow: auto;
	background: #CECECE;
}
#registry ul
{
	list-style: none;
}
#registry .category li
{
	float: left;
}
#registry .category li a
{
	display: block;
	padding: 10px;
}
#registry .data
{
	clear: both;
}
#registry .data>li
{
	display: none;
}