/********************************************************************************************/
/* Clap along
/********************************************************************************************/
header
{
	position:relative;
	background:#fff;
	padding:20px;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: -webkit-box-shadow .15s ease-out; 
	-moz-transition: -moz-box-shadow .15s ease-out; 
	-o-transition: -o-box-shadow .15s ease-out; 
	transition: box-shadow .15s ease-out;
}
.sticky header
{
    position: fixed;
    right: 0;  
    top: 0;  
    z-index: 3;
	-webkit-box-shadow: 0px 25px 5px -20px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    0px 25px 5px -20px rgba(50, 50, 50, 0.1);
	box-shadow:         0px 25px 5px -20px rgba(50, 50, 50, 0.1);
	width:95%;
}

.contextOpened.sticky header
{
	width:60%;
	left:5%;
}

.navOpened.sticky header
{
	width:55%;
	-webkit-transition: width 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition:         width 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header .clapalong
{
	font-size:40px;
	line-height:1.4em;
	font-family:'Raleway-Thin';
	padding:30px 100px 30px 30px;
}
header .clapalong span
{
	border-bottom:1px dashed #ccc;
	color:#ccc;
}