body, html, #main
{
	height:100%;
	padding:0;
	margin:0;
}
/********************************************************************************************/
/* Login
/********************************************************************************************/
#grandCentralSite
{
	height:100%;
}
#grandCentralSite iframe
{
	-webkit-filter: saturate(0.5);
	-moz-filter: saturate(0.5);
	-ms-filter: saturate(0.5);
	-o-filter: saturate(0.5);
	filter: saturate(0.5);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	-o-filter: blur(5px);
	filter: blur(5px);
	height:100%;
	width:100%;
}

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Fonts
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
/* ProximaNova Thin */
@font-face
{
	font-family:'ProximaNova-Thin';
	src:url('../font/ProximaNova/Mark Simonson - Proxima Nova Thin.otf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
/* ProximaNova Regular */
@font-face
{
	font-family:'ProximaNova-Regular';
	src:url('../font/ProximaNova/Mark Simonson - Proxima Nova Alt Regular.otf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

/********************************************************************************************/
/* Page
/********************************************************************************************/
#overlay
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.85) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.85) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.85) 100%); /* W3C */
}

/********************************************************************************************/
/* Login form
/********************************************************************************************/
form
{
	position:absolute;
	height:270px;
	width:280px;
	top:50%;
	left:50%;
	margin:-135px 0 0 -140px;
	text-align:center;
	border-radius:3px;
	background:rgba(0,0,0,0.2);
	padding:20px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
form #profilepic
{
	height:90px;
	width:90px;
	border-radius:50%;
	margin:0 auto 20px auto;
	background-color:rgba(255,255,255,0.1);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	overflow:none;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
}
form #profilepic
{
	height:90px;
	width:90px;
	border-radius:50%;
	margin:0 auto 20px auto;
	overflow:none;
}


/* Flipping profile pics */
#profilepic
{
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
#profilepic>*
{
    position: absolute;
    top: 0;
	left:0;
	height:100%;
	width:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
	overflow:hidden !important;
	border-radius:50%;
}
#profilepic .front {
    z-index: 9;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}
#profilepic.flipped .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
#profilepic .back {
    z-index: 8;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}
#profilepic .back img{
    opacity:0.5;
}
#profilepic.flipped .back {
    z-index: 10;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}


form fieldset
{
	padding:0;
	border:0;
}
form ol
{
	padding:0;
	margin:0;
	list-style-type:none;
}
form ol li
{
}
form ol li .wrapper
{
}
label
{
	display:none;
}
input,
button
{
	font-size:16px;
	background:transparent;
	font-family:"ProximaNova-Regular";
	color:#eee !important;
	padding:7px 10px;
	border-radius:2px;
	width:100%;
	border:1px solid transparent;
	text-align:center;
	border-radius:2px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
label[for="login[save]"]
{
	display:none;
}
input
{
	border-color:rgba(255,255,255,0.8);
}
button
{
	cursor:pointer;
}

/* Placeholder */
::-webkit-input-placeholder {
   color: rgba(255,255,255,0.5);
	font-family:"ProximaNova-Thin";
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.5);
	font-family:"ProximaNova-Thin";
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,0.5);
	font-family:"ProximaNova-Thin";
}
:-ms-input-placeholder {  
   color: rgba(255,255,255,0.5);
	font-family:"ProximaNova-Thin";
}
input:-webkit-autofill {
	background: transparent !important;
}