/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* From Boiler plate (you would be a fool to alter that)
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font:inherit;
	vertical-align: baseline;
}
ul, ol
{
	list-style-type:none;
}

fieldset
{
	margin:0;
	padding:0;
	border:0;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}
pre, code, kbd, samp
{
	font-family:'monaco', monospace, sans-serif;
}

.ie7 img
{
	-ms-interpolation-mode: bicubic;
}
input[type="search"]
{
	-webkit-appearance:textfield;
}

/* Clearing float use : <div class="clear"><!-- Clearing floats --></div> */
.clear
{
	clear:both;
	float:none !important;
	height:0;
	line-height:0;
}

/* Reset Bootstrap */
.close {
  float: none;
  font-weight: normal;
  line-height: auto;
  text-shadow: auto;
  filter: none;
  opacity:1;
}

/********************************************************************************************/
/* Body
/********************************************************************************************/
body
{
	font-family:"Helvetica Neue", helvetica, arial, "Lucida Grande", Geneva, Verdana, sans-serif;
	font-size:1em;
	color:#444;
	background:#444;
}

/********************************************************************************************/
/* Hyperlinking
/********************************************************************************************/
a
{
	color:#419BF9;
	text-decoration:none !important;
}
a:hover
{
	color:#419BF9;
}
a:active
{
}
a:visited
{}

/* Accesskey */
.acceskey
{text-decoration:underline;}

/* Kill Browser tweaks */
*:focus
{outline: none;}
*::selection
{
	background:#df3528;
	color:#fff;
}
*::-moz-selection
{
	background:#df3528;
	color:#fff;
}
*::-webkit-selection
{
	background:#df3528;
	color:#fff;
}

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* General stuff
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/

/********************************************************************************************/
/* States of things
/********************************************************************************************/
.invite 			{background-color:#6cbf2d !important;}
.invite:before 		{border-top-color:#6cbf2d !important;}
/*.selected,
.ui-selected		{background-color:#FFFBCC !important;}
*/
.warning			{background-color:#FF0000 !important;}
.warning:before 	{border-top-color:#FF0000 !important;}
.alert				{background-color:#FF0000 !important;}
.alert:before 		{border-top-color:#FF0000 !important;}
.ui-draggable-dragging
{
	border-color: #419BF9;
	-webkit-box-shadow: 0 0 4px #419BF9;
	box-shadow: 0 0 4px #419BF9;
    -webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Fonts
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
/* ProximaNova Thin */
@font-face
{
	font-family:'ProximaNova-Thin';
	src:url('../font/ProximaNova/Mark Simonson - Proxima Nova Thin.otf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
/* ProximaNova Regular */
@font-face
{
	font-family:'ProximaNova-Regular';
	src:url('../font/ProximaNova/Mark Simonson - Proxima Nova Alt Regular.otf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
/* ProximaNova Bold */
@font-face
{
	font-family:'ProximaNova-Bold';
	src:url('../font/ProximaNova/Mark Simonson - Proxima Nova Bold.otf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Bubbles
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
.cc-bubble
{
	background:#999;
	padding:5px 8px !important;
	border:none !important;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	color:#eee;
	position:absolute;
	font-size:10px;
	font-family:"ProximaNova-Thin";
	text-shadow:0px 1px 1px rgba(0, 0, 0, 0.5);
	opacity:0.8;
	text-transform:uppercase;
	z-index:1000;
	-moz-box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 0.4) !important;
	box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 0.4) !important;
	font-weight:normal;
}
a.cc-bubble:hover
{
	opacity:1;
}
.cc-bubble:before
{
	border-top: 6px solid #999;
	border-right: 6px solid transparent;
	position:absolute;
	bottom:-6px;
	right:7px;
	content:"";
}


/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Badges
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
a.cc-badge
{
	text-align:center;
	border:none !important;
    background: red;
    width: 20px;
    height: 20px;
    position: relative;
    text-align: center;
	line-height:22px;
	color:#eee;
	position:absolute;
	font-size:14px;
	font-family:"ProximaNova-Regular";
	opacity:0.8;
	z-index:2;
	-moz-box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 0.4) !important;
	box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 0.4) !important;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
}
a.cc-badge:hover
{
	opacity:1;
}
a.cc-badge:before, a.cc-badge:after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: red;
	z-index:-1;
}
a.cc-badge:before
{
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
a.cc-badge:after
{
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Progress bars
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Progress bars
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
/* Loading */
.loadingbox
{
	padding:100px 0;
}
.loadingbox .spinner {
	-webkit-animation: rotator 1.4s linear infinite;
	animation: rotator 1.4s linear infinite;
	display:block;
	margin:auto;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #FF0000;
  }
  25% {
    stroke: #FF0000;
  }
  50% {
    stroke: #FF0000;
  }
  75% {
    stroke: #FF0000;
  }
  100% {
    stroke: #FF0000;
  }
}

@keyframes colors {
  0% {
    stroke: #FF0000;
  }
  25% {
    stroke: #FF0000;
  }
  50% {
    stroke: #FF0000;
  }
  75% {
    stroke: #FF0000;
  }
  100% {
    stroke: #FF0000;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

/* Progress */
.loading progress
{
	background-color: #fff;
	border: 0;
	height: 6px;
	border-radius: 3px;
}
progress::-webkit-progress-bar {
	background-color: #fff;
	border-radius: 3px;
}
progress::-moz-progress-bar {
	background-color: #fff;
	border-radius: 3px;
}
progress::-webkit-progress-value {
	background: #FF0000;
	border-radius: 3px;
}
.progress-value {
	padding: 0px 5px;
	line-height: 20px;
	margin-left: 5px;
	font-size: .8em;
	color: #555;
	height: 18px;
	float: right;
}

/********************************************************************************************/
/* Nodata
/********************************************************************************************/
[data-nodata]:empty
{
}
[data-nodata]:empty:before
{
	color:#666;
	font-family: "ProximaNova-Thin";
	text-align:center;
	content: attr(data-nodata);
	pointer-events:auto;
	width:100%;
	height:100%;
	line-height:normal;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	letter-spacing:0.4px;
}

/********************************************************************************************/
/* placeholder
/********************************************************************************************/
ol .placeholder
{
	/* From patternify.com */
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJ2W6/XM8L4IM4hb81GsACMA2IzInNAAgCwOA5OdkI04gAAAABJRU5ErkJggg==) !important;
	border-color:transparent !important;
	opacity:0.5;
}

/********************************************************************************************/
/* More
/********************************************************************************************/
.more
{
	text-align:center;
	background:#F9F9F9;
	color:#ccc;
	height:20px;
	line-height:20px;
	padding:0 !important;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
	cursor:pointer;
}
.more:after
{
	content:'• • •';
}
.more:hover
{
	color:#999;
}

/********************************************************************************************/
/* Icons
/********************************************************************************************/
.icon
{
	text-align:center;
	color:#fff;
}
.icon img
{
	display:block;
	width:100%;
}

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Main structure (position, content, context...)
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
#main
{
}

/* Allow selection of text */
.slick-slider
{
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

/********************************************************************************************/
/* The structure Whatever happens
/********************************************************************************************/
.siteOpened body
{
	overflow:hidden;
}
/* Our 2 main ribbons */
#grandCentralAdmin
{
	position:absolute;
	width:100%;
	top:0;
}
#grandCentralAdmin #adminContent
{
	-webkit-transition: all .3s ease-out; 
	-moz-transition: all .3s ease-out; 
	-o-transition: all .3s ease-out; 
	transition: all .3s ease-out;
	background:#fff;
	min-height:100vh;
	z-index:1;
}
.siteOpened #grandCentralAdmin #adminContent
{
	-webkit-transform: translate3d(0, 100vh, 0) scale(0.8);
	transform: translate3d(0, 100vh, 0) scale(0.8);
}

/* The site */
#grandCentralSite
{
	z-index:2;
	overflow:hidden;
	position:fixed;
	top:0;
	-webkit-transform: translate3d(0, -100vh, 0) scale(0.8);
	transform: translate3d(0, -100vh, 0) scale(0.8);
	height:100vh;
	width:100%;
	-webkit-transition: all .4s ease-out; 
	-moz-transition: all .4s ease-out; 
	-o-transition: all .4s ease-out; 
	transition: all .4s ease-out;
}
.siteOpened #grandCentralSite
{
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
#grandCentralSite iframe
{
	width:100%;
	height:100%;
	position:relative;
}

/* The site nav */
#siteNav
{
	display:none;
}
.siteOpened #siteNav
{
}

/* Our 2 main lanes */
#adminContent,
.adminContext
{
	float:left;
	position:relative;
/*	padding-top:70px;*/
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
}

/* The Content */
#adminContent
{
	z-index:1;
	width:100%;
}

/* The content & context */
.adminContext
{
	width:0;
	height:100%;
	position:fixed;
	top:0;
	right:0;
}

/* Open Context Rules */
.contextOpened1 #adminContent,
.contextOpened1 #siteContent,
.contextOpened1>header
{
	width:60% !important;
}
.contextOpened1 .adminContext
{
	width:40%;
}
.contextOpened1 .adminContext>div
{
	padding:100px 45px 45px 45px;
}
.contextOpened1 .adminContext:nth-last-child(1)>button.close
{
	right:40%;
}

.contextOpened2 #adminContent,
.contextOpened2 #siteContent,
.contextOpened2>header
{
	width:40% !important;
}
.contextOpened2 .adminContext
{
	width:30%;
}
.contextOpened2 .adminContext>div
{
	padding:100px 45px 45px 45px;
}
.contextOpened2 .adminContext:nth-last-child(2)
{
	right:30%;
}
.contextOpened2 .adminContext:nth-last-child(1)>button.close
{
	right:30%;
}
.contextOpened2 .adminContext:nth-last-child(2)>button.close
{
	right:60%;
}

/* Context Section header */
.adminContext header
{
	height:30vh;
	width:100%;
	background-color:#333;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
}
.adminContext header+*
{
	padding-top:30vh;
}
.adminContext header .cover
{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0.5;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	z-index:1;
}
.adminContext header h1
{
	color:#fff;
	z-index:2;
	position:relative;
	margin:10vh 0 0 0 !important;
	padding:0 50px;
}
.adminContext header .descr
{
	color:#fff;
}

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Alert layer
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
#alert
{
	position:fixed;
	z-index:10000;
	opacity:0;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C */
	pointer-events:none;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
}
.poppedAlert #alert
{
	opacity:1;
	pointer-events:auto;
	transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
}
#alert .icon
{
	text-align:center;
	line-height:90px;
	color:#fff;
	position:absolute;
	height:200px;
	width:200px;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-100px;
	border-radius:50%;
	background:#000;
	font-size:100px;
	line-height:180px;
	background:#666;
}
#alert .icon:before
{
	font-family: "feather";
	line-height:100px;
}
#alert.live .icon
{
	background:#6cbf2d;
}
#alert.live .icon:before
{
	content:'';
}
#alert.asleep .icon
{
	background:#419BF9;
}
#alert.asleep .icon:before
{
	content:'';
}
#alert.draft .icon
{
	background:#FF0000;
}
#alert.draft .icon:before
{
	content:'';
}
#alert.trash .icon
{
	background:#333;
}
#alert.trash .icon:before
{
	content:'';
}
#alert.error .icon
{
	background:#FF0000;
}
#alert.error .icon:before
{
	content:'';
}
#alert .info
{
	position:absolute;
	bottom:100px;
	color:#fff;
	font-family: "ProximaNova-Regular";
	width:100%;
	text-align:center;
}
#alert .info .response
{
	border:1px solid #ccc;
	border-radius:2px;
	padding:5px 10px;
	margin:0 0 10px 0;
	font-size:18px;
	display:inline-block;
}
#alert .info .help
{
	margin:auto;
	font-size:10px;
	opacity:0.5;
}

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Nav
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
/* open/close Nav */
#openNav,
#closeNav
{
	position:fixed;
	top:20px;
	left:20px;
	height:30px;
	width:30px;
	padding:0 !important;
	z-index:100000;
	font-size:16px !important;
}
#openNav:not(:hover),
#closeNav:not(:hover),
#switchEnv:not(:hover)
{
	border-color:#777;
	background:#777;
	color:#333 !important;
}
.siteOpened #openNav,
.siteOpened #closeNav,
.siteOpened #switchEnv
{
	top:auto;
	bottom:20px;
}
.poppedNav #openNav
{
	display:none;
}
#closeNav
{
	display:none;
}
.poppedNav #closeNav
{
	display:block;
}

/* Switch env */
#switchEnv
{
	position:fixed;
	top:20px;
	left:53px;
	height:30px;
	width:30px;
	padding:0 !important;
	z-index:100000;
	font-size:16px !important;
}
.siteOpened #switchEnv
{
	background-color:#419BF9;
	color:#fff;
}

/* Layer */
#nav
{
	position:fixed;
	z-index:10000;
	opacity:0;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.95) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.95) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.95) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,95) 100%); /* W3C */
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
	transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	overflow:auto;
	pointer-events:none;
}
.poppedNav #nav
{
	opacity:1;
	pointer-events:auto;
	transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-webkit-transform:scale(1);
	-o-transform:scale(1);
}

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Content
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
#adminContent
{
	overflow:hidden; /* Prevent Horizontal scrolling */
}
@media (min-width:480px) {
    #adminContent {
		padding-top:120px;
    }
}
@media (min-width:768px) {
    #adminContent {
    }
}
@media (min-width:992px) {
    #adminContent {
		padding-top:70px;
   	}
}
#adminContent h1
{
	font-family:'ProximaNova-Thin';
	font-size:54px;
	margin:30px 0 40px 0;
	text-align:center;
}
#adminContent>button.close
{
	position:absolute;
	top:15px;
	right:15px;
	z-index:2;
}
#currentItem,
#currentList
{
	border-radius:50%;
	height:40px;
	width:40px;
	position:fixed;
	top:50%;
	z-index:4;
	opacity:0.5;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
	display:none;
}
#currentItem:hover,
#currentList:hover
{
	opacity:1;
	transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-o-transform:scale(1.2);
}
#currentList
{
	left:-20px;
	background:#419BF9;
}
#currentItem
{
	right:-20px;
	background:#6cbf2d;
}

/* Footer */
footer
{
}

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Context
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
.adminContext
{
	background:#eee;
	border-left:1px solid #ddd;
	z-index:2;
}
.adminContext>div
{
	overflow:auto;
	height:100vh;
}
.adminContext>button.close
{
	position:fixed !important;
	top:50%;
	/*right:40%; It's up there, with the panel sizes */
	margin-right:-25px !important;
	z-index:100;
	width:50px !important;
	height:50px !important;
	border-radius:50% !important;
	background:#FFC000 !important;
	color:#fff !important;
    -webkit-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
	-webkit-transition-delay:3s;
	transition-delay:3s;
}
.contextOpened1 .adminContext>button.close
{
    -webkit-transform: scale(0.7);
         -o-transform: scale(0.7);
            transform: scale(0.7);
}
.adminContext:hover>button.close
{
    -webkit-transform: scale(0.9);
         -o-transform: scale(0.9);
            transform: scale(0.9);
}
.adminContext>button.close:hover
{
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}
.adminContext>button.close:after
{
	color:#fff !important;
	content:'\e055' !important;
	font-family:"feather";
	font-size:18px !important;
}
.adminContext h1
{
	font-family:"ProximaNova-Regular";
	font-size:18px;
	text-transform:uppercase;
	height:72px;
	line-height:72px;
	text-align:center;
	background:rgba(0,0,0,0.1);
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
.adminContext h2
{
	font-family:"ProximaNova-Regular";
	margin:0 0 10px 0;
	border-bottom:1px solid #ccc;
	padding:0 0 5px 0;
	text-align:center;
	text-transform:uppercase;
	clear:left;
}
.adminContext h2>.centered
{
	background:#eee;
	padding:0 10px;
	color:#888;
	position:relative;
	bottom:-13px;
	display:inline;
	font-size:12px;
}

/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* Content sections (slick)
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
#adminContent #sectiontray
{
	position:relative;
}
#adminContent #sectiontray>.slick-list>.slick-track>.slick-slide
{
	position:relative;
}
#adminContent #sectiontray>.slick-list>.slick-track>.slick-slide>a,
#adminContent #sectiontray>.slick-list>.slick-track>.slick-slide>span
{
	position:absolute;
	z-index:1;
	top:6px;
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
	cursor:pointer;
	color:#444;
	border-radius:2px;
	font-size:14px;
}
#adminContent #sectiontray>.slick-list>.slick-track>.slick-slide>.back
{
	left:30px;
}
#adminContent #sectiontray>.slick-list>.slick-track>.slick-slide>.back:hover,
#adminContent #sectiontray>.slick-list>.slick-track>.slick-slide>span:hover,
#adminContent.unlocked #sectiontray>.slick-list>.slick-track>.slick-slide>span
{
	background:#419BF9;
	color:#fff;
}
#adminContent #sectiontray>.slick-list>.slick-track>.slick-slide>.lock
{
	right:30px;
}
#adminContent.unlocked #sectiontray>.slick-list>.slick-track>.slick-slide>.lock
{
	color:#fff;
}
#adminContent #sectiontray>div:hover>.lock
{
	opacity:0.3;
}
#adminContent #sectiontray>.slick-list>.slick-track>.slick-slide .lock:hover,
#adminContent.unlocked #sectiontray>.slick-list>.slick-track>.slick-slide .lock
{
	opacity:1;
}
#adminContent .slick-slide
{
	padding:30px;
}
#adminContent section
{
	border-radius:2px;
	background:#eee;
	padding:30px 15px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
	min-height:300px;
	position:relative;
	overflow-y:auto;
	border:1px solid transparent;
}
#adminContent section.virgin,
#adminContent section.loading
{
	text-align:center;
	background:#fff;
}
#adminContent section.virgin
{
	opacity:0.7;
	border-color:rgba(0, 0, 0, 0.15);
}
#adminContent section.loading
{
	border-color:#ccc;
}
#adminContent.unlocked section
{
/*	background-color:#419BF9 !important; */
	background-color:#007EE5 !important;
}
#adminContent section>p,
#adminContent section>ul,
#adminContent section>ol
{
	color:#555;
}

/* #adminContent section toc */
#adminContent section .toc 
{
	border:1px dotted #ccc;
	padding:20px;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}
#adminContent section .toc li
{
}

/* Content Section header */
#adminContent section>header
{
	height:30vh;
	width:100%;
	background-color:#333;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
}
#adminContent section>header+*
{
	padding-top:30vh;
}
#adminContent section>header .cover
{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0.5;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	z-index:1;
}
#adminContent section>header h1
{
	color:#fff;
	z-index:2;
	position:relative;
	margin:10vh 0 0 0 !important;
	padding:0 50px;
}
#adminContent section>header .descr
{
	color:#fff;
}

/* Section titles */
#adminContent section h2,
#adminContent section h3,
#adminContent section h4,
#adminContent section h5
{
	font-family:"ProximaNova-Regular";
	font-weight:normal;
	clear:both;
}
#adminContent section>h2 a,
#adminContent section>h3 a,
#adminContent section>h4 a,
#adminContent section>h5 a
{
	color:#333;
}

/* #adminContent section h2 */
#adminContent section>h2,
#adminContent section>div>h2
{
	margin:0 0 20px 0;
	text-transform:uppercase;
	color:#aaa;
	text-align:center;
}
#adminContent section>h2 span,
#adminContent section>div>h2 span
{
	margin:0 0 20px 0;
	text-transform:uppercase;
	color:#aaa;
	position:relative;
}
#adminContent section>h2 span:after,
#adminContent section>h2 span:before,
#adminContent section>div>h2 span:after,
#adminContent section>div>h2 span:before
{
	content:'';
	border-bottom:1px solid #ddd;
	position:absolute;
	top:7px;
	width:80%;
}
#adminContent section>h2 span:after,
#adminContent section>div>h2 span:after
{
	left:-90%;
}

#adminContent section>h2 span:before,
#adminContent section>div>h2 span:before
{
	right:-90%;
}

/* #adminContent section h3 */
#adminContent section>h3
{
	font-size:1.5em;
	border-color:#ddd;
}

/* #adminContent section h4 */
#adminContent section>h4
{
	font-size:1.1em;
	border-color:#eee;
}

/* Nodata */
#adminContent section:empty
{
	line-height:30vh;
	padding:0 100px;
}
#adminContent section:empty:before
{
	font-size:30px;
}

/* The lines */
#adminContent section>ul,
#adminContent section>ol
{
	padding:0;
}
#adminContent section>ul>li
#adminContent section>ol>li
{
	position:relative;
}
#adminContent section .in2col,
#adminContent section .in3col,
#adminContent section .in4col,
#adminContent section .in5col
{
	overflow:auto;
}
#adminContent section .in2col li,
#adminContent section .in3col li,
#adminContent section .in4col li,
#adminContent section .in5col li
{
	float:left;
}
#adminContent section .in2col li
{
	width:50%;
}
#adminContent section .in3col li
{
	width:33%;
}
#adminContent section .in4col li
{
	width:25%;
}
#adminContent section .in5col li
{
	width:20%;
}

/* Options */
.card .option
{
	opacity:0;
	color:#fff;
	width:30px;
	height:30px;
	line-height:31px !important; /* Optical alignment */
	font-size:20px;
	cursor:pointer;
	-webkit-transition: all .1s ease-out; 
	-moz-transition: all .1s ease-out; 
	-o-transition: all .1s ease-out; 
	transition: all .1s ease-out;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	color:#fff;
	z-index:2;
}
.card:hover .option
{
	opacity:1;
}
.card .option:after
{
	content:'';
	z-index:-1;
	-webkit-transition: all .05s ease-out; 
	-moz-transition: all .05s ease-out; 
	-o-transition: all .05s ease-out; 
	transition: all .05s ease-out;
	border-radius:50%;
	position:absolute;
	top:0;
	left:0;
	width:30px;
	height:30px;
    -webkit-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
	background:#419BF9;
}
.card .option:hover:after
{
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

/* Handles */
#adminContent section>ol>li .handle
{
	position:absolute;
	top:20px;
	right:10px;
	width:15px;
	height:15px;
	background:#999 no-repeat 50% 50%;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	opacity:0;
}
#adminContent section>ol>li:hover>.handle
{
	opacity:1;
}

/* Insert & update a field */
#adminContent section>ol>li.liveupdate,
#adminContent section>ol>li.liveinsert
{
	-moz-box-shadow:inset 0 10px 10px -7px rgba(0, 0, 0, 0.1);
}
#adminContent section>ol>li.liveinsert
{
	height:5px 15px;
	text-align:center;
	display:none;
	font-size:0.8em;
}
#adminContent section>ol>li.liveupdate input,
#adminContent section>ol>li.liveupdate select,
#adminContent section>ol>li.liveinsert input,
#adminContent section>ol>li.liveinsert select
{
	width:auto !important;
}

#main button
{
	background:transparent;
	border:1px solid #419BF9;
	border-radius:2px;
	font-size:10px;
	padding:10px 15px;
	margin:0;
	color:#419BF9;
	cursor: pointer;
	text-transform:uppercase;
	font-family:'ProximaNova-Bold';
	letter-spacing:1px;
	-webkit-transition: all .1s ease-out; 
	-moz-transition: all .1s ease-out; 
	-o-transition: all .1s ease-out; 
	transition: all .1s ease-out;
}
#main button:hover
{
	color:#fff;
	background:#419BF9;
}
#main button:active
{
}

/* Close & delete */
#grandCentralAdmin button.close,
#grandCentralAdmin button.delete
{
	position:absolute;
	z-index:2;
	border:none;
	background:transparent;
	color:#000;
	width:26px;
	height:26px;
	cursor:pointer;
	font-size:12px;
	padding:0 !important;
	text-shadow:none;
	opacity:1;
}
#grandCentralAdmin button.close:after,
#grandCentralAdmin button.delete:after
{
	content:'✕';
	font-size:12px;
	opacity:1;
}
#grandCentralAdmin button.close:after:hover,
#grandCentralAdmin button.delete:after:hover
{
	opacity:1;
}

/********************************************************************************************/
/* Flipping cards
/********************************************************************************************/
.card {
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
.card .face
{
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.card .face>*
{
	vertical-align:middle;
	display:inline-block;
	line-height:normal; /* on rétablit le line-height */
}
.card .face.front
{
    z-index: 9;
	width:100%;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
	background:#fff;
}
.card.flipped .face.front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.card .face.back {
    z-index: 8;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
	background-color:#666;
	height:100%;
}
.card.flipped .face.back {
    z-index: 10;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

/********************************************************************************************/
/* Build the admin
/********************************************************************************************/
body[data-env="admin"]:before
{
	display:block;
	height:5px;
	content:'';
	position:absolute;
	top:0;
	width:100%;
	z-index:10;
	background-color:transparent;
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	background-size: 40px 40px; /* Controls the size of the stripes */
	background-image: -webkit-linear-gradient(-45deg, #FF0000 25%, transparent 25%,
		transparent 50%, #FF0000 50%, #FF0000 75%,
		transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, #FF0000 25%, transparent 25%,
		transparent 50%, #FF0000 50%, #FF0000 75%,
		transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, #FF0000 25%, transparent 25%,
		transparent 50%, #FF0000 50%, #FF0000 75%,
		transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, #FF0000 25%, transparent 25%,
		transparent 50%, #FF0000 50%, #FF0000 75%,
		transparent 75%, transparent);
	background-image: linear-gradient(-45deg, #FF0000 25%, transparent 25%,
		transparent 50%, #FF0000 50%, #FF0000 75%,
		transparent 75%, transparent);	
}