/********************************************************************************************/
/* Navigation
/********************************************************************************************/
#adminNav
{
	color:#222;
    z-index: 2;
}
.sticky #adminNav
{
    position: fixed;
    left: 0;  
    top: 0;  
}
.navClosed #adminNav .close
{
	display:none;
}
#adminNav a
{
	color:#aaa;
}
#adminNav>ul,
#adminNav>ul .sub
{
	position:relative;
}
#adminNav>button.close
{
	position:absolute;
	top:15px;
	right:15px;
	z-index:2;
	color:#fff;
}

/********************************************************************************************/
/* First-level
/********************************************************************************************/
#adminNav>ul>li
{
	padding:15px;
	cursor:pointer;
	-webkit-transition: all .1s ease-out; 
	-moz-transition: all .1s ease-out; 
	-o-transition: all .1s ease-out; 
	transition: all .1s ease-out;
}
.navClosed #adminNav>ul>li
{
	border-top:1px solid #333;
}
.navOpened #adminNav>ul>li>div
{
	width:28%;
}

/* .on / :hover */
#adminNav>ul>li.on>.title,
#adminNav>ul>li:hover>.title
{
	background:#6cbf2d;
	color:#fff;
}
#adminNav:hover>ul>li:not(:hover)>.title
{
	opacity:0.2 !important;
}
.navClosed #adminNav>ul>li.on
{
	position:relative;
}
.navClosed #adminNav>ul>li.on:after
{
	content:'';
	position:absolute;
	z-index:2;
	right:-10px;
	top:50%;
	margin-top:-10px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #222;
}
#adminNav>ul>li>.title
{
	display:block;
	width:100%;
	height:40px;
	background:transparent;
	color:#999;
	font-size:1.4em;
	line-height:45px;
	border-radius:100px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
	overflow:hidden;
}
#adminNav>ul>li>.title[data-feathericon]:before
{
	padding:0 8px;
	font-size:26px;
}
#adminNav>ul>li>.title span
{
	font-family:"Raleway-Thin";
	font-size:0.7em;
	color:#fff;
	display:none;
	padding-left:10px;
	position:relative;
	top:-4px;
}
#adminNav>ul>li>.title img
{
	height:100%;
	float:left;
	display:block;
	border-radius:100px;
}
.navOpened #adminNav>ul>li>.title span
{
	display:inline;
}

/* Nodata */
#adminNav .nodata
{
	margin:50px;
	font-size:30px;
	width:100% !important;
	border:none !important;
}

/* Badges */
#adminNav>ul>li .cc-badge
{
	top:-12px;
	right:-13px;
	position:absolute;
}

/* Flags */
#adminNav>ul .flag
{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#595e61;
	color:#cccccc;
	font-size:0.5em;
	text-transform:uppercase;
	padding:2px 4px;
	position:relative;
	top:-2px; /* optical alignement */
}

/* Specificities : Me */
#adminNav>ul li.me
{

}

/* Specificities : edit & editing */
/*
.adminOpened #adminNav>ul li.edit,
.adminOpened #adminNav>ul li.editing
{
	display:none !important;
}
#adminNav>ul li.edit,
#adminNav>ul li.editing
{
	text-align:center;
	padding-right:0;
	padding-left:0;
}
#adminNav>ul li.edit a,
#adminNav>ul li.editing a
{
	border-radius:3px;
	text-transform:uppercase;
	padding:3px 5px;
	color:#ccc;
	font-size:10px;
	font-family:"Raleway-Regular";
	border:1px solid transparent;
}
#adminNav>ul li.edit:hover a,
#adminNav>ul li.editing:hover a
{
	color:#fff;
}
#adminNav>ul li.edit a
{
	border-color:#3eb4d6;
}
#adminNav>ul li.edit:hover a
{
	background:#3eb4d6;
}
.adminClosed #adminNav>ul li.edit
{
	display:block;
}
#adminNav>ul li.editing a
{
	border-color:#FE9400;	
}
#adminNav>ul li.editing a:not(:hover)
{
	animation: pulse 3s ease-out infinite;
	-webkit-animation: pulse 3s ease-out infinite;
}
#adminNav>ul li.editing:hover a
{
	background:#FE9400;
}
@keyframes pulse { 
  50% { border-color: rgba(254,148,0,0.2) }
}
@-webkit-keyframes pulse { 
  50% { border-color: rgba(254,148,0,0.2) }
}

/********************************************************************************************/
/* Second level
/********************************************************************************************/
#adminNav>ul .sub
{
	display:none;
	position:absolute;
	right:0;
	top:0;
	padding:30px 15px;
	margin:0;
	width:70% !important;
	height:800px; /* TMP */
	overflow:auto;
	z-index:2;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
/* Titles */
#adminNav>ul .sub h1
{
	font-family:"Raleway-Bold";
	margin:0 0 20px 0;
	border-bottom:1px solid #333;
	padding:0 0 5px 0;
	text-align:center;
	letter-spacing:3px;
	text-transform:uppercase;
}
#adminNav>ul .sub h1>.centered
{
	background:#222;
	padding:0 10px;
	color:#555;
	position:relative;
	bottom:-13px;
	display:inline;
	font-size:12px;
}
#adminNav>ul .sub ul
{
	overflow:auto;
	padding:10px 0;
}

/* Common to all display styles */
#adminNav>ul .sub ul li
{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#adminNav>ul .sub ul li a
{
	display:block;
	position: relative;
	color:#ccc;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#adminNav>ul .sub ul li:hover a
{
	color:#eee;
}
#adminNav>ul .sub ul li .icon
{
	color:#ccc;
}
#adminNav>ul .sub ul li .title
{
	font-family:"Raleway-Thin";
	display:block;
}

/* In big */
#adminNav>ul .sub ul.big
{
	text-align:center;
}
#adminNav>ul .sub ul.big li a
{
	display:block;
	padding:5px;
}
#adminNav>ul .sub ul.big li:not(:last-child)
{
}
#adminNav>ul .sub ul.big li a:hover .title
{
	color:#3eb4d6 !important;
}
#adminNav>ul .sub ul.big li .icon
{
	display:none;
}
#adminNav>ul .sub ul.big li .title
{
	display:inline-block;
	font-size:1.3em;
	color:#ccc;
	margin-bottom:5px;
}

/* In cols */
#adminNav>ul .sub ul.col li a
{
	display:block;
	width:25%;
	float:left;
	color:#ccc;
	font-size:0.75em;
	padding:5px;
	border-bottom:1px solid #333;
}
#adminNav>ul .sub ul.col li .icon
{
	display:none;
}

/* In labels */
#adminNav>ul .sub ul.label li
{
	float:left;
	width:33.333%;
	text-align:center;
	padding:0 5px;
}
#adminNav>ul .sub ul.label li a
{
	border:1px solid #333;
	padding:7px 10px;
	border-radius:10px;
}

/* In hives */
#adminNav>ul .sub ul.hive
{

}
#adminNav>ul .sub ul.hive li a
{
	display:block;
	margin:30px -49px 86px 0;
	float:left;
	font-size:0.8em;
	text-align:center;
	width: 100px;
	height: 53px;
	background:#eee;
	position: relative;
	color:#333;
}
#adminNav>ul .sub ul.hive li a:hover
{
	background:#3eb4d6 !important;
}
#adminNav>ul .sub ul.hive li:nth-child(even) a
{
	top:85px;
}
#adminNav>ul .sub ul.hive li a:before {
	content: "";
	position: absolute;
	top: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 30px solid #eee;
}
#adminNav>ul .sub ul.hive li a:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 30px solid #eee;
}
#adminNav>ul .sub ul.hive li .title
{
	font-size:0.85em;
	width:100%;
	position:absolute;
	top:40px;
	z-index:1;
	font-family:'Raleway-Regular';
}
#adminNav>ul .sub ul.hive li a:hover:before
{
	border-bottom-color:#3eb4d6;
}
#adminNav>ul .sub ul.hive li a:hover:after
{
	border-top-color:#3eb4d6;
}
#adminNav>ul .sub ul.hive li .icon
{
	font-size:3.1em;
	background:transparent;
	text-align:center;
}

/* In tiles */
#adminNav>ul .sub ul.tiles
{
	text-align:center;
}
#adminNav>ul .sub ul.tiles li
{
	display:inline-block;
	vertical-align:top;
}
#adminNav>ul .sub ul.tiles li a
{
	text-align:center;
	width:80px;
	height:80px;
	margin:5px;
	background:#ccc;
	position: relative;
	border-radius:3px;
	opacity:0.8;
	-webkit-transition: all .1s ease-out; 
	-moz-transition: all .1s ease-out; 
	-o-transition: all .1s ease-out; 
	transition: all .1s ease-out;
}
#adminNav>ul .sub ul.tiles li a:hover
{
	opacity:1;
}
#adminNav>ul .sub ul.tiles li .title
{
	font-size:11px;
	width:100%;
	position:absolute;
	bottom:10px;
	z-index:1;
	font-family:'Raleway-Regular';
	font-size:9px;
	color:#333;
	text-transform:uppercase;
}
#adminNav>ul .sub ul.tiles li a:hover:before
{
	border-bottom-color:#3eb4d6;
}
#adminNav>ul .sub ul.tiles li a:hover:after
{
	border-top-color:#3eb4d6;
}
#adminNav>ul .sub ul.tiles li .icon
{
	font-size:40px;
	line-height:67px;
	text-align:center;
	color:#fff;
	opacity:0.9;
	line-height:80px !important;
}

/* In masonry */
#adminNav>ul .sub ul.masonry li
{
	display:block;
	padding:10px;
	width:33%;
	float:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background:#333;
	border:3px solid #111;
}
#adminNav>ul .sub ul.masonry li .icon
{
	text-align:center;
	font-size:40px;
}


/* CC search */
#adminNav>ul>li.cc-search
{

}
#adminNav>ul>li.cc-search .title
{
	position:relative;
}
#adminNav>ul>li.cc-search input
{
	background:transparent;
	padding:5px 10px;
	height:35px;
	border:1px solid #555;
	border-radius:3px;
	font-size:1em;
	width:100%;
}
#adminNav>ul>li.cc-search input::-webkit-input-placeholder { color:#ccc; }
#adminNav>ul>li.cc-search input::-moz-placeholder { color:#ccc; } /* firefox 19+ */
#adminNav>ul>li.cc-search input:-moz-placeholder { color:#ccc; }

#adminNav>ul>li.cc-search input:focus
{
	color:#333;
}
#adminNav>ul>li.cc-search .sub ul
{
	background:#ccc;
}

/* tiless */
#adminNav>ul .sub ul li .title .cc-tiles
{
	top:-17px;
	right:-16px;

}