/********************************************************************************************/
/* Navigation
/********************************************************************************************/
#grandCentralNav
{
	color:#222;
}
.navClosed #grandCentralNav .close
{
	display:none;
}
#grandCentralNav a
{
	color:#aaa;
}
#grandCentralNav>ul,
#grandCentralNav>ul .sub
{
	position:relative;
}
#grandCentralNav>button.close
{
	position:absolute;
	top:15px;
	right:15px;
	z-index:2;
	color:#fff;
}

/********************************************************************************************/
/* First-level
/********************************************************************************************/
#grandCentralNav>ul>li
{
	padding:15px;
	cursor:pointer;
	-webkit-transition: all .1s ease-out; 
	-moz-transition: all .1s ease-out; 
	-o-transition: all .1s ease-out; 
	transition: all .1s ease-out;
}
.navOpened #grandCentralNav>ul>li>div
{
	width:28%;
	border-bottom:1px solid #222;	
}

/* .on / :hover */
#grandCentralNav>ul>li.on>.title,
#grandCentralNav>ul>li:hover>.title
{
	background:#6cbf2d;
	color:#fff;
}
#grandCentralNav:hover>ul>li:not(:hover)>.title
{
	opacity:0.2 !important;
}
.navClosed #grandCentralNav>ul>li.on
{
	position:relative;
}
.navClosed #grandCentralNav>ul>li.on:after
{
	content:'';
	position:absolute;
	z-index:2;
	right:-10px;
	top:50%;
	margin-top:-10px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #222;
}
#grandCentralNav>ul>li>.title
{
	display:block;
	width:100%;
	height:40px;
	background:transparent;
	color:#999;
	font-size:1.4em;
	line-height:45px;
	border-radius:100px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
	overflow:hidden;
}
#grandCentralNav>ul>li>.title[data-icon]
{
	padding:0 10px;
}
#grandCentralNav>ul>li>.title span
{
	font-family:"Raleway-Thin";
	font-size:0.7em;
	color:#fff;
	display:none;
	padding-left:10px;
	position:relative;
	top:-4px;
}
#grandCentralNav>ul>li>.title img
{
	height:100%;
	float:left;
	display:block;
	border-radius:100px;
}
.navOpened #grandCentralNav>ul>li>.title span
{
	display:inline;
}

/* Nodata */
#grandCentralNav .nodata
{
	margin:50px;
	font-size:30px;
	width:100% !important;
	border:none !important;
}

/* Badges */
#grandCentralNav>ul>li .cc-badge
{
	top:-12px;
	right:-13px;
	position:absolute;
}

/* Flags */
#grandCentralNav>ul .flag
{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#595e61;
	color:#cccccc;
	font-size:0.5em;
	text-transform:uppercase;
	padding:2px 4px;
	position:relative;
	top:-2px; /* optical alignement */
}

/* Specificities : Me */
#grandCentralNav>ul li.me
{

}
#grandCentralNav>ul li.me>.title
{
	background:none;
}
#grandCentralNav>ul li.me>.title span
{
	color:#000;
}
#grandCentralNav>ul>li.me:after
{
	border-color: transparent transparent transparent #6cbf2d;
}
#grandCentralNav>ul li.me .sub
{
	top:0 !important;
	background:transparent;
	padding:15px;
}
#grandCentralNav>ul li.me .sub input
{
	width:100%;
	height:40px;
}

/* Specificities : edit & editing */
.adminOpened #grandCentralNav>ul li.edit,
.adminOpened #grandCentralNav>ul li.editing
{
	display:none !important;
}
#grandCentralNav>ul li.edit,
#grandCentralNav>ul li.editing
{
	text-align:center;
	padding-right:0;
	padding-left:0;
}
#grandCentralNav>ul li.edit a,
#grandCentralNav>ul li.editing a
{
	border-radius:3px;
	text-transform:uppercase;
	padding:3px 5px;
	color:#ccc;
	font-size:10px;
	font-family:"Raleway-Regular";
	border:1px solid transparent;
}
#grandCentralNav>ul li.edit:hover a,
#grandCentralNav>ul li.editing:hover a
{
	color:#fff;
}
#grandCentralNav>ul li.edit a
{
	border-color:#3eb4d6;
}
#grandCentralNav>ul li.edit:hover a
{
	background:#3eb4d6;
}
.adminClosed #grandCentralNav>ul li.edit
{
	display:block;
}
#grandCentralNav>ul li.editing a
{
	border-color:#FE9400;	
}
#grandCentralNav>ul li.editing a:not(:hover)
{
	animation: pulse 3s ease-out infinite;
	-webkit-animation: pulse 3s ease-out infinite;
}
#grandCentralNav>ul li.editing:hover a
{
	background:#FE9400;
}
@keyframes pulse { 
  50% { border-color: rgba(254,148,0,0.2) }
}
@-webkit-keyframes pulse { 
  50% { border-color: rgba(254,148,0,0.2) }
}

/********************************************************************************************/
/* Second level
/********************************************************************************************/
#grandCentralNav>ul .sub
{
	display:none;
	position:absolute;
	right:0;
	top:0;
	padding:15px;
	margin:0;
	width:70% !important;
	overflow:auto;
	z-index:2;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
/* Titles */
#grandCentralNav>ul .sub h1
{
	font-family:"Raleway-Regular";
	text-transform:uppercase;
	clear:both;
	color:#666;
	text-align:center;
	margin:10px;
	padding:0 0 10px 0;
	letter-spacing:1px;
}
#grandCentralNav>ul .sub ul
{
	overflow:auto;
	padding:70px 0 30px 0;
}

/* Common to all display styles */
#grandCentralNav>ul .sub ul li
{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#grandCentralNav>ul .sub ul li a
{
	display:block;
	position: relative;
	color:#ccc;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#grandCentralNav>ul .sub ul li:hover a
{
	color:#eee;
}
#grandCentralNav>ul .sub ul li .icon
{
	color:#ccc;
}
#grandCentralNav>ul .sub ul li .title
{
	font-family:"Raleway-Thin";
	display:block;
}

/* In big */
#grandCentralNav>ul .sub ul.big li a
{
	display:block;
	padding:10px;
}
#grandCentralNav>ul .sub ul.big li:not(:last-child)
{
	border-bottom:1px solid #333;
}
#grandCentralNav>ul .sub ul.big li a:hover .title
{
	color:#3eb4d6 !important;
}
#grandCentralNav>ul .sub ul.big li .title
{
	font-size:1.3em;
	color:#ccc;
	margin-bottom:5px;
}

/* In cols */
#grandCentralNav>ul .sub ul.col li a
{
	display:block;
	width:25%;
	float:left;
	color:#ccc;
	font-size:0.75em;
	padding:5px;
	border-bottom:1px solid #444;
}
#grandCentralNav>ul .sub ul.col li .icon
{
	display:none;
}

/* In labels */
#grandCentralNav>ul .sub ul.label li
{
	float:left;
	width:33.333%;
	text-align:center;
	padding:0 5px;
}
#grandCentralNav>ul .sub ul.label li a
{
	border:1px solid #555;
	padding:7px 10px;
	border-radius:10px;
}

/* In hives */
#grandCentralNav>ul .sub ul.hive
{

}
#grandCentralNav>ul .sub ul.hive li a
{
	display:block;
	margin:30px -49px 86px 0;
	float:left;
	font-size:0.8em;
	text-align:center;
	width: 100px;
	height: 53px;
	background:#eee;
	position: relative;
	color:#333;
}
#grandCentralNav>ul .sub ul.hive li a:hover
{
	background:#3eb4d6 !important;
}
#grandCentralNav>ul .sub ul.hive li:nth-child(even) a
{
	top:85px;
}
#grandCentralNav>ul .sub ul.hive li a:before {
	content: "";
	position: absolute;
	top: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 30px solid #eee;
}
#grandCentralNav>ul .sub ul.hive li a:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 30px solid #eee;
}
#grandCentralNav>ul .sub ul.hive li .title
{
	font-size:0.85em;
	width:100%;
	position:absolute;
	top:40px;
	z-index:1;
	font-family:'Raleway-Regular';
}
#grandCentralNav>ul .sub ul.hive li a:hover:before
{
	border-bottom-color:#3eb4d6;
}
#grandCentralNav>ul .sub ul.hive li a:hover:after
{
	border-top-color:#3eb4d6;
}
#grandCentralNav>ul .sub ul.hive li .icon
{
	font-size:3.1em;
	background:transparent;
	text-align:center;
}

/* In Bubbles */
#grandCentralNav>ul .sub ul.bubble
{

}
#grandCentralNav>ul .sub ul.bubble li a
{
	display:block;
	float:left;
	font-size:0.8em;
	text-align:center;
	width: 80px;
	height:80px;
	margin:0 10px 10px 0;
	background:#eee;
	position: relative;
	color:#333;
	border-radius:100px;
}
#grandCentralNav>ul .sub ul.bubble li a:hover
{
	background:#3eb4d6 !important;
}
#grandCentralNav>ul .sub ul.bubble li .title
{
	font-size:0.85em;
	width:100%;
	position:absolute;
	top:50px;
	z-index:1;
	font-family:'Raleway-Regular';
}
#grandCentralNav>ul .sub ul.bubble li a:hover:before
{
	border-bottom-color:#3eb4d6;
}
#grandCentralNav>ul .sub ul.bubble li a:hover:after
{
	border-top-color:#3eb4d6;
}
#grandCentralNav>ul .sub ul.bubble li .icon
{
	font-size:3.1em;
	background:transparent;
	text-align:center;
}

/* In masonry */
#grandCentralNav>ul .sub ul.masonry li
{
	display:block;
	padding:10px;
	width:33%;
	float:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background:#333;
	border:3px solid #111;
}

/* In tiles */
#grandCentralNav>ul .sub ul.tiles li
{
	display:block;
	padding:10px;
	height:120px;
	width:120px;
	float:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background:#333;
	margin:0 4px 4px 0;
}

/* CC search */
#grandCentralNav>ul>li.cc-search
{

}
#grandCentralNav>ul>li.cc-search .title
{
	position:relative;
}
#grandCentralNav>ul>li.cc-search input
{
	background:transparent;
	padding:5px 10px;
	height:35px;
	border:1px solid #555;
	border-radius:3px;
	font-size:1em;
	width:100%;
}
#grandCentralNav>ul>li.cc-search input::-webkit-input-placeholder { color:#ccc; }
#grandCentralNav>ul>li.cc-search input::-moz-placeholder { color:#ccc; } /* firefox 19+ */
#grandCentralNav>ul>li.cc-search input:-moz-placeholder { color:#ccc; }

#grandCentralNav>ul>li.cc-search input:focus
{
	color:#333;
}
#grandCentralNav>ul>li.cc-search .sub ul
{
	background:#ccc;
}

/* Bubbles */
#grandCentralNav>ul .sub ul li .title .cc-bubble
{
	top:-17px;
	right:-16px;

}