/********************************************************************************************/
/*////////////////////////////////////////////////////////////////////////////////////////////
/* A Form Section
/////////////////////////////////////////////////////////////////////////////////////////////
/********************************************************************************************/
section.timeline
{}

section.timeline h2,
section.timeline h3
{
	position:relative;
	text-align:center;
	z-index:3;
	background:#ffffff;
	margin-bottom:10px !important;
}
	
section.timeline .time
{
	border-right:3px solid #cccccc;
	width:1px;
	position:absolute;
	left:487px;
	top:0;
}
	
section.timeline ol>li
{
	width:445px;
	margin:10px 0 !important;
	padding:15px !important;
	background:#F2F2F2;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	font-size:0.9em;
}
section.timeline ol>li .icon
{
	background:#ffffff;
	margin-right:10px;
}

/* Feature */
section.timeline ol>li.feature
{
	width:950px !important;
	text-align:center;
}
section.timeline ol>li.feature .icon
{
	float:none !important;
	margin:auto !important;
}
section.timeline ol>li.feature .title
{
	font-size:3em;
}