/********************************************************************************************/
/* Site Navigation
/********************************************************************************************/
#siteNav
{
	background:#111;
    z-index: 2;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#siteNav ul li
{
	width:33.333%;
	float:left;
}
#siteNav ul li button
{
	border:1px solid #333;
}

#siteNav ul li.left
{
	text-align:left;
}
#siteNav ul li.center
{
	text-align:center;
	font-family: "ProximaNova-Regular";
	padding:7px 0;
	font-size:14px;
	color:#555;
}
#siteNav ul li.center p
{
	cursor:s-resize;
}
#siteNav ul li.center p:hover
{
	color:#ccc;
}
#siteNav ul li.right
{
	text-align:right;
}