/********************************************************************************************/
/* tabs
/********************************************************************************************/
#tabs
{
	display:inline-block;
	line-height:28px;
}
@media (min-width:480px) {
    #tabs {
		padding-top:50px;
    }
}
@media (min-width:768px) {
    #tabs {
    }
}
@media (min-width:992px) {
    #tabs {
		padding-top:0;
    }
}
#tabs>li
{
	position:relative;
	text-align:center;
	display:inline-block;
	cursor:pointer;
	margin:0 10px;
}
#tabs>li a
{
	opacity:0.3;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	display:block;
	z-index:3;
	position:relative;
	color:#fff;
}
#tabs>li a:before
{
	content:'';
	border-bottom:5px solid #fff;
	width:0%;
	position:absolute;
	bottom:-22px;
	left:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#tabs>li>a>span
{
	display:block;
}
#tabs>li>a .title
{
	font-family:"ProximaNova-Regular";
	text-transform:uppercase;
	font-size:13px;
}
#tabs>li>a .descr
{
	font-size:0.65em;
	color:#fff;
	opacity:0.5;
	display:none;
}
#tabs>li.on a,
#tabs>li:hover a
{
	opacity:1;
}
#tabs>li.on a:before
{
	width:100%;
}
#adminContent.unlocked #tabs>li.on a:before
{
	border-color:#007EE5;
}
#tabs>li:hover:not(.on) a:before
{
	border-color:#eee;
}

/* Dividers */
#tabs li.divider:before
{
	content:'•';
	font-size:1.3em;
	color:#eeeeee;
	position:relative;
	top:5px;
}

/* Bubbles */
#tabs>li .cc-bubble
{
	display:none;
	top:-17px;
	right:-7px;
}
#tabs>li:hover .cc-bubble
{
	display:block;
}

/* Droppable */
#tabs>li .droppable
{
	width:100px;
	height:100px;
	left:50%;
	top:50%;
	margin:-50px 0 0 -50px;
	position:absolute;
	pointer-events:none;
	opacity:0;
	z-index:1;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	border-radius:100px;
	background:rgba(255,255,255,0.15);
	border:1px dashed #FE9400;
	-webkit-transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition:         all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}
#tabs>li.ui-droppable-hover .droppable
{
	opacity:1;
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
#tabs>li.ui-droppable-hover a .titre
{
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	color:#FFF !important;
}
#tabs>li.ui-droppable-hover a:before
{
	display:none;
}

/* You can have some tabs on the right side as well */
#tabs>li.right
{
	float:right;
	margin:0 0 0 10px;
}