/* Lines */
li[data-type="sirtrevor"] .wrapper .st-block__inner ol.data
{
	text-align:center;
}
li[data-type="sirtrevor"] .wrapper .st-block__inner ol.data li
{
	display:inline-block;
	margin:10px;
	width:120px;
	color:#ddd;
	position:relative;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	vertical-align:top;
	overflow:hidden;
}
li[data-type="sirtrevor"] .wrapper .st-block__inner ol.data li:not(.upload)
{
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
li[data-type="sirtrevor"] .wrapper .st-block__inner ol.data li .delete
{
	position:absolute;
	top:5px;
	right:5px;
	z-index:3;
}
li[data-type="sirtrevor"] .wrapper .st-block__inner ol.data li:hover .delete
{
	display:block;
}

li[data-type="sirtrevor"] .wrapper .st-block__inner ol.data li .preview
{
	border-bottom:1px solid #ddd;
	display:block;
	overflow:hidden;
}
li[data-type="sirtrevor"] .wrapper .st-block__inner ol.data li .preview img
{
	display:block;
	width:100%;
}
li[data-type="sirtrevor"] .wrapper .st-block__inner ol.data li .title {
	font-size:11px;
	display:block;
	color:#333;
	padding:10px;
	background:#fff;
}

/* Upload */
li[data-type="sirtrevor"] .wrapper .st-block__inner ol.data li.upload
{
	height:120px;
	line-height:130px;
	font-size:40px;
	border:1px solid #F2F2F2;
}
li[data-type="sirtrevor"] .wrapper .st-block__inner ol.data li.upload:before
{
	content:"+";
	font-size:90px;
	text-align:center;
	color:#666;
	line-height:120px;
}
li[data-type="sirtrevor"] .wrapper .st-block__inner ol.data li.upload:hover
{
	cursor:pointer;
	color:#FE9400;
}
/* Template */
li[data-type="sirtrevor"] .wrapper .st-block__inner pre.template
{
	display:none;
}