/********************************************************************************************/
/* Common
/********************************************************************************************/
section[data-template="/list/list"]>div>.nodata
{
	padding:100px 0;
	font-size:50px;
}

section[data-template="/list/list"]>div>ol
{
}
section[data-template="/list/list"]>div>ol>li
{
}

section[data-template="/list/list"]>div>ol>li>.title
{
	font-family:"Raleway-Regular";
	line-height:1.4em;
}
section[data-template="/list/list"]>div>ol>li>.title a
{
	color:#000;
}
section[data-template="/list/list"]>div>ol>li>.descr
{
	font-family:"Raleway-Light";
	line-height:1.4em;
	color:#999;
}
/* Actions */
section[data-template="/list/list"]>div>ol>li>.action
{
	font-size:10px;
}
section[data-template="/list/list"]>div>ol>li>.action li
{
	display:inline;
}
section[data-template="/list/list"]>div>ol>li>.action li:before
{
	margin-right:3px;
}
section[data-template="/list/list"]>div>ol>li>.action li:after
{
	content:'•';
	margin-left:4px;
}
section[data-template="/list/list"]>div>ol>li>.action li:last-child:after
{
	content:'';
}
section[data-template="/list/list"]>div>ol>li>.action li a:not(:hover)
{
	color:#bbb;
}
/* Infinite scroll more */
section[data-template="/list/list"]>.infiniteScrollWantsMore
{
	clear:left;
	cursor:pointer;
	text-align:center;
	font-family:'Raleway-Regular';
	text-transform:uppercase;
	margin:100px 0;
	opacity:0.2;
}
section[data-template="/list/list"]>.infiniteScrollWantsMore:before
{
	content:'⋁';
	border:1px solid #000;
	border-radius:50%;
	width:40px;
	height:40px;
	line-height:40px;
	font-size:35px;
	display:inline-block;
	margin:0 10px 0 0;
	position:relative;
	top:7px;
}
section[data-template="/list/list"]>.infiniteScrollWantsMore:hover
{
	opacity:1;
}
/* Infinite scroll stopper */
section[data-template="/list/list"]>.infiniteScrollStopper
{
	clear:left;
	text-align:center;
	font-family:'Raleway-Regular';
	text-transform:uppercase;
	color:#ddd;
}

/********************************************************************************************/
/* Stacks
/********************************************************************************************/
section[data-template="/list/list"][data-pref-display="instack"]>div>ol
{
	margin:0 0 30px 0;
	padding:10px;
	background:#fff;
	border-radius:3px;
}
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li
{
	margin:5px;
	padding:5px 0;
	clear:left;
}
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li:not(:last-child)
{
	border-bottom:1px solid #F9F9F9;
}
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li>div:not(.icon),
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li>ul
{
	margin-left:50px;
	margin-bottom:5px;
}
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li>.padding
{
	padding:10px;
}
/* Icon */
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li>.icon
{
	border:1px dashed transparent;
	height:40px;
	width:40px;
	overflow:hidden;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	border-radius:100px;
	float:left;
}
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li>.icon.empty
{
	border-color:rgba(0, 0, 0, .2);
}

/* Title */
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li>.title
{
	font-size:1.2em;
	padding-top:2px; /* optical alignement */
	margin-bottom:0 !important;
}
/* Descr */
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li>.descr
{
}
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li>.fork
{
	display:none;
}
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li>.archives
{
	display:none;
	margin:7px 7px 0 7px;
	font-size:0.8em;
	list-style-type:square;
}
section[data-template="/list/list"][data-pref-display="instack"]>div>ol>li>.archives li
{
	margin:0 0 3px 15px;
}

/********************************************************************************************/
/* Masonry
/********************************************************************************************/
section[data-template="/list/list"][data-pref-display="inmasonry"]>div>ol
{
	margin:0 0 15px 0;
	width:100%;
}
section[data-template="/list/list"][data-pref-display="inmasonry"]>div>ol>li
{
	background:#fff;
	border-radius:3px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:240px;
	margin-bottom:15px;
	box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.18);	
}
section[data-template="/list/list"][data-pref-display="inmasonry"]>div>ol>li>:not(.icon)
{
	padding:0 15px;
	margin-bottom:10px;
}
/* icon */
section[data-template="/list/list"][data-pref-display="inmasonry"]>div>ol>li>.icon
{
	border-bottom:1px solid #ddd;
}
section[data-template="/list/list"][data-pref-display="inmasonry"]>div>ol>li>.icon.empty
{
	display:none;
}
/* Title */
section[data-template="/list/list"][data-pref-display="inmasonry"]>div>ol>li>.title
{
	padding-top:10px;
}
/* Descr */
section[data-template="/list/list"][data-pref-display="inmasonry"]>div>ol>li>.descr
{
}
/* Action */
section[data-template="/list/list"][data-pref-display="inmasonry"]>div>ol>li>.action
{
	padding-top:10px;
	border-top:1px solid #ddd;
}

/********************************************************************************************/
/* Unlocked
/********************************************************************************************/
.unlocked section[data-template="/list/list"]>div>ol>li>.icon
{
	background-color:#F2F2F2;
}

/********************************************************************************************/
/* Draggable
/********************************************************************************************/
section[data-template="/list/list"]>div>ol>li.ui-draggable-dragging
{
	display:block;
	width:80px !important;
	height:80px !important;
	border-radius:100px;
	overflow:hidden;
	opacity:0.8;
}
section[data-template="/list/list"]>div>ol>li.ui-draggable-dragging *
{
	white-space:nowrap;
}