/********************************************************************************************/
/* Common
/********************************************************************************************/
section[data-template="list/list"]>ol
{
}
section[data-template="list/list"]>ol>li>.title
{
	font-family:"Raleway-Regular";
}
section[data-template="list/list"]>ol>li>.descr
{
	font-family:"Raleway-Regular";
	line-height:1.4em;
}
/* Actions */
section[data-template="list/list"]>ol>li>.action
{
	font-family:"Raleway-Thin";
}
section[data-template="list/list"]>ol>li>.action li
{
	display:inline;
}
section[data-template="list/list"]>ol>li>.action li:before
{
	margin-right:3px;
}
section[data-template="list/list"]>ol>li>.action li:after
{
	content:'•';
	margin-left:4px;
}
section[data-template="list/list"]>ol>li>.action li:last-child:after
{
	content:'';
}
section[data-template="list/list"]>ol>li>.action li a:not(:hover)
{
	color:#bbb;
}

/********************************************************************************************/
/* Stacks
/********************************************************************************************/
.instack section[data-template="list/list"]>ol
{
	margin:0 0 30px 0;
}
.instack section[data-template="list/list"]>ol>li
{
	margin:5px;
}
.instack section[data-template="list/list"]>ol>li:not(:last-child)
{
	border-bottom:1px solid #F9F9F9;
}
.instack section[data-template="list/list"]>ol>li>div:not(.icon),
.instack section[data-template="list/list"]>ol>li>ul
{
	margin-left:50px;
	margin-bottom:5px;
}
.instack section[data-template="list/list"]>ol>li>.padding
{
	padding:10px;
}
/* Icon */
.instack section[data-template="list/list"]>ol>li>.icon
{
	border:1px dashed transparent;
	height:40px;
	width:40px;
	overflow:hidden;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	border-radius:100px;
	float:left;
}
.instack section[data-template="list/list"]>ol>li>.icon.empty
{
	border-color:rgba(0, 0, 0, .2);
}

/* Title */
.instack section[data-template="list/list"]>ol>li>.title
{
	font-size:1.2em;
	padding-top:2px; /* optical alignement */
}
/* Descr */
.instack section[data-template="list/list"]>ol>li>.descr
{
	color:#777;
	font-size:0.9em;
}
.instack section[data-template="list/list"]>ol>li>.fork
{
	display:none;
}
.instack section[data-template="list/list"]>ol>li>.archives
{
	display:none;
	margin:7px 7px 0 7px;
	font-size:0.8em;
	list-style-type:square;
}
.instack section[data-template="list/list"]>ol>li>.archives li
{
	margin:0 0 3px 15px;
}

/********************************************************************************************/
/* Masonry
/********************************************************************************************/
.inmasonry section[data-template="list/list"]>ol
{
	margin:0 0 15px 0;
}
.inmasonry section[data-template="list/list"]>ol>li
{
	border:1px solid #ddd;
	background:#fff;
	border-radius:3px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	width:200px;
	margin:5px;
}
.inmasonry section[data-template="list/list"]>ol>li>:not(.icon)
{
	padding:0 15px;
	margin-bottom:10px;
}
/* icon */
.inmasonry section[data-template="list/list"]>ol>li>.icon
{
	border-bottom:1px solid #ddd;
}
.inmasonry section[data-template="list/list"]>ol>li>.icon.empty
{
	display:none;
}
/* Title */
.inmasonry section[data-template="list/list"]>ol>li>.title
{
	padding-top:10px;
}
/* Descr */
.inmasonry section[data-template="list/list"]>ol>li>.descr
{
	color:#777;
	font-size:0.9em;
}
/* Action */
.inmasonry section[data-template="list/list"]>ol>li>.action
{
	padding-top:10px;
	border-top:1px solid #ddd;
}

/********************************************************************************************/
/* Unlocked
/********************************************************************************************/
.unlocked section[data-template="list/list"]>ol>li>.icon
{
	background-color:#999;
}

/********************************************************************************************/
/* Draggable
/********************************************************************************************/
section[data-template="list/list"]>ol>li.ui-draggable-dragging
{
	display:block;
	width:80px !important;
	height:80px !important;
	border-radius:100px;
	overflow:hidden;
	opacity:0.8;
}
section[data-template="list/list"]>ol>li.ui-draggable-dragging *
{
	white-space:nowrap;
}