/********************************************************************************************/
/* Popup
/********************************************************************************************/
#popup
{
	position:fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/********************************************************************************************/
/* Overlay
/********************************************************************************************/
#popup_overlay
{
	width:100%;
	overflow-x: auto;
	overflow-y: scroll;
	top:0;
	left:0;
}

/********************************************************************************************/
/* Popup container
/********************************************************************************************/
#popup_container
{
	margin:auto;
	position:relative;
}