/* Styling */
#appmanager {
	
}

#appmanager>li
{
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-bottom:1px solid #ddd;	
}
#appmanager>li>*:not(.icon)
{
	margin-left:37px;
}
#appmanager li .icon {
	float:left;
}
#appmanager li .title {
	font-size: 1.5em;
	margin-bottom:5px;
	color:#999;
}
#appmanager li .title a:not(:hover) {
	color:#444;
}
#appmanager li .descr {
	color:#999;
	margin-bottom:7px;
}