/********************************************************************************************/
/* Navigation
/********************************************************************************************/
nav#nav-cc
{
	color:#222;
	top:0;
	left:0;
	background:#333;
	width:170px;
	height:1000px;
	display:none;
	float:left;
	-webkit-box-shadow:inset  -5px 0px 3px rgba(0, 0, 0, 0.2);
/*	-moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2); */
/*	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); */
}
nav#nav-cc a
{
	color:#aaa;
}
nav#nav-cc>ul,
nav#nav-cc>ul .sub
{
	position:relative;
}

/********************************************************************************************/
/* First-level
/********************************************************************************************/
nav#nav-cc>ul>li
{
	width:150px;
	padding:10px 20px;
	clear:both;
	cursor:pointer;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

/* .on */
nav#nav-cc>ul>li.on
{

}
nav#nav-cc>ul>li>.icon
{
}
nav#nav-cc>ul>li>.icon a
{
	width:30px;
	height:30px;
	background:#444;
	display:block;
	float:left;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:25px;
	margin:0 10px 0 0;
}
nav#nav-cc>ul>li>.descr
{
	color:#666;
	font-size:0.7em;
}
nav#nav-cc>ul>li>.title
{
	font-family:"proximanovabold";
	position:relative;
	font-size:0.9em;
	text-transform:uppercase;
}

/* Nodata */
nav#nav-cc .nodata
{
	margin:50px;
	font-size:30px;
	width:100% !important;
	border:none !important;
}

/* Badges */
nav#nav-cc>ul>li .cc-badge
{
	top:-12px;
	right:-13px;
	position:absolute;
}

/* Flags */
nav#nav-cc>ul .flag
{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#595e61;
	color:#cccccc;
	font-size:0.5em;
	text-transform:uppercase;
	padding:2px 4px;
	position:relative;
	top:-2px; /* optical alignement */
}

/* Specificities */
nav#nav-cc>ul li.me .icon a,
nav#nav-cc>ul li.env .icon a
{
	width:80px;
	height:80px;
	margin:0;
}
nav#nav-cc>ul li.me .icon a
{
	float:left;
}
nav#nav-cc>ul li.env
{

}
nav#nav-cc>ul li.env .icon a
{
	float:right;
	position:relative;
	top:-30px;
}

/********************************************************************************************/
/* Second level
/********************************************************************************************/
nav#nav-cc>ul .sub
{
	display:none;
	position:absolute;
	top:0;
	right:0px;
	height:1000px;
	padding:30px;
	margin:0;
	width:458px;
	overflow:auto;
}
nav#nav-cc>ul .sub h1
{
	font-family:"proximanovaregular";
	clear:both;
	color:#ccc;
	text-align:center;
	margin:10px;
	padding:0 0 10px 0;
}
nav#nav-cc>ul .sub ul
{
	overflow:auto;
	padding-bottom:40px;
}
nav#nav-cc>ul .sub ul li
{
}
nav#nav-cc>ul .sub ul li a
{
	display:block;
	position: relative;
	color:#333;
}
nav#nav-cc>ul .sub ul li .icon
{
	color:#ccc;
}
nav#nav-cc>ul .sub ul li .title
{
	font-family:"proximanovaregular";
	display:block;
}
nav#nav-cc>ul .sub ul li:hover .title
{
	color:#333;
}
nav#nav-cc>ul .sub ul li .descr
{
	font-size:0.7em;
	color:#777777;
	display:none;
}
nav#nav-cc>ul .sub ul li .insert
{
	font-size:1.5em;
	text-align:center;
	display:none;
}
nav#nav-cc>ul .sub ul li .insert a
{
	color:#aaaaaa;
	border:none;
	padding-top:15px;
	display:block;
}
nav#nav-cc>ul .sub ul li a:hover
{
	background:#3eb4d6 !important;
}

/* In cols */
nav#nav-cc>ul .sub ul.col li a
{
	display:block;
	width:25%;
	float:left;
	color:#ccc;
	font-size:0.75em;
	padding:5px;
	border-bottom:1px solid #555;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
nav#nav-cc>ul .sub ul.col li .icon
{
	display:none;
}

/* In hives */
nav#nav-cc>ul .sub ul.hive li a
{
	display:block;
	margin:30px -49px 86px 0;
	float:left;
	font-size:0.8em;
	text-align:center;
	width: 100px;
	height: 53px;
	background:#eee;
	position: relative;
	color:#333;
}
nav#nav-cc>ul .sub ul.hive li:nth-child(even) a
{
	top:85px;
}
nav#nav-cc>ul .sub ul.hive li a:before {
	content: "";
	position: absolute;
	top: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 30px solid #eee;
}
nav#nav-cc>ul .sub ul.hive li a:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 30px solid #eee;
}
nav#nav-cc>ul .sub ul.hive li .title
{
	font-size:0.85em;
	width:100%;
	position:absolute;
	top:45px;
	z-index:1;
}
nav#nav-cc>ul .sub ul.hive li a:hover:before
{
	border-bottom-color:#3eb4d6;
}
nav#nav-cc>ul .sub ul.hive li a:hover:after
{
	border-top-color:#3eb4d6;
}
nav#nav-cc>ul .sub ul.hive li .icon
{
	font-size:3.1em;
	background:transparent;
	text-align:center;
}

/* CC search */
nav#nav-cc>ul>li.cc-search
{

}
nav#nav-cc>ul>li.cc-search .title
{
	position:relative;
}
nav#nav-cc>ul>li.cc-search input
{
	background:transparent;
	padding:5px 10px;
	height:35px;
	border:1px solid #555;
	border-radius:3px;
	font-size:1em;
	width:100%;
}
nav#nav-cc>ul>li.cc-search input::-webkit-input-placeholder { color:#ccc; }
nav#nav-cc>ul>li.cc-search input::-moz-placeholder { color:#ccc; } /* firefox 19+ */
nav#nav-cc>ul>li.cc-search input:-moz-placeholder { color:#ccc; }

nav#nav-cc>ul>li.cc-search input:focus
{
	color:#333;
}
nav#nav-cc>ul>li.cc-search .sub ul
{
	background:#ccc;
}

/* Bubbles */
nav#nav-cc>ul .sub ul li .title .cc-bubble
{
	top:-17px;
	right:-16px;

}