/* External links */
#adminContext [data-template="sirtrevor.link"] .external iframe
{
	height:50px;
	width:60%;
	float:left;
}
#adminContext [data-template="sirtrevor.link"] .external button
{
	float:right;
}

/* Internal links */
#adminContext [data-template="sirtrevor.link"] .internal input
{
	width:100%;
	background:#fff;
	border:1px solid #ccc;
	padding:5px 7px;
	margin:0 0 10px 0;
	border-radius:2px;
}
#adminContext [data-template="sirtrevor.link"] .internal button
{
	margin:0 5px 5px 0;
	float:left;
}