/********************************************************************************************/
/* Choices
/********************************************************************************************/
#adminContext [data-template="master/snippet/greenbutton/greenbutton.context"]
{
}
#adminContext [data-template="master/snippet/greenbutton/greenbutton.context"] ul li
{
	border-bottom:1px solid #ddd;
	padding:2px 0;
}
#adminContext [data-template="master/snippet/greenbutton/greenbutton.context"] ul li .title
{
	color:#666;
	margin:0;
}
#adminContext [data-template="master/snippet/greenbutton/greenbutton.context"] ul li .descr
{
	color:#ccc;
	font-size:0.8em;
}