/********************************************************************************************/
/* Choices
/********************************************************************************************/
#adminContext [data-template="master/snippet/greenbutton/greenbutton.context"]
{
}
#adminContext [data-template="master/snippet/greenbutton/greenbutton.context"] ul li
{
	text-align:center;
	margin:30px 0;
}
#adminContext [data-template="master/snippet/greenbutton/greenbutton.context"] ul li .title
{
	color:#666;
	margin:0 0 20px 0;
	border:1px solid #ddd;
	padding:10px 20px;
	border-radius:2px;
	text-transform:uppercase;
	font-family:"ProximaNova-Regular";
	cursor:pointer;
}
#adminContext [data-template="master/snippet/greenbutton/greenbutton.context"] ul li a:hover
{
	background:#6cbf2d;
	color:#fff;
}