/********************************************************************************************/
/* greenbutton
/********************************************************************************************/
#greenbutton {
	position:absolute;
	top:7px;
	right:20px;
	z-index:3;
	border-radius:2px;
	font-family:"ProximaNova-Bold";
	text-transform:uppercase;
	font-size:13px;
	margin:7px 0;
	-moz-user-select:none;
	-webkit-user-select:none;
	cursor:pointer;
	background:#666;
	/*background:#6cbf2d;*/
}
#greenbutton>a
{
	display:inline-block;
	color:#ffffff;
	padding:13px;
	-webkit-transition: all .1s ease-out; 
	-moz-transition: all .1s ease-out; 
	-o-transition: all .1s ease-out; 
	transition: all .1s ease-out;
}
#greenbutton>a:before
{
	margin:0 10px 0 0;
	font-size:18px;
	top:-1px;
}

/********************************************************************************************/
/* Default
/********************************************************************************************/
#greenbutton #greenbutton-default
{
	letter-spacing:1px;
	padding-left:30px;
	padding-right:30px;
}
#greenbutton #greenbutton-default:hover
{
	background:#FF9900;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-ms-transform: scale(1.1);
}
#greenbutton #greenbutton-default.on
{
	background:#df3528;
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
	-ms-transform: scale(1.3);
}

/********************************************************************************************/
/* Or...
/********************************************************************************************/
#greenbutton #greenbutton-or
{
	font-family:"ProximaNova-Thin";
	border-left:1px solid rgba(255, 255, 255, 0.2);
}
#greenbutton #greenbutton-or:hover
{
}
#greenbutton #greenbutton-or.on
{
}