/********************************************************************************************/
/* As a full section
/********************************************************************************************/
section .noteList
{
}
section .noteList>li:not(.more),
section .noteForm
{
	font-size: 12px;
	position:relative;
	padding:15px 10px;
	clear:left;
}
section .noteList>li
{
	overflow:auto;
}
section .noteList>li:not(:first-child):before
{
	content:'';
	width:2px;
	background:#fff;
	position:absolute;
	border-left:4px solid rgba(0,0,0,0.05);
	height:100%;
	top:0px;
	left:30px;
	z-index:-1;
}

/* More */
section .noteList>li.more
{

}

/* Divider */
section .noteList>li.divider
{
	border-bottom:1px solid #eee;
	padding-bottom:10px;
	margin-bottom:10px;
	text-align:center;
}
section .noteList>li.divider h2
{
	background:#fff;
	padding:0 10px;
	display:inline;
	position:relative;
	top:16px;
	color:#cecece;
}

/* Loading */
section .noteList>li.loading
{
	text-align:center;
	color:#ccc;
}

/* Fields */
section .noteList>li>*:not(.icon),
section .noteForm>*:not(.icon)
{
	margin-left:57px;
}
section .noteList>li>.date
{
	position:absolute;
	top:10px;
	right:10px;
	color:#ccc;
}
section .noteList>li>.icon,
section .noteForm>.icon
{
	float:left;
	width:40px;
	height:40px;
}
section .noteList>li>.author
{
	font-weight:bold;
	margin-bottom:5px;
}
section .noteList>li>.descr
{
	margin-bottom:5px;
}

/* Form */
section .noteForm
{
	background:#F3F3F3;
}
section .noteForm form textarea
{
	width:100%;
	border:1px solid #ddd;
}
section .noteForm form textarea[disabled]
{
	color:#ccc !important;
}

/********************************************************************************************/
/* Inline in a list
/********************************************************************************************/
section div.notes .noteList
{
	position:relative;
	font-size:12px;
	line-height:14px !important;
}
section div.notes .noteList:after
{
	position:absolute;
	top:-7px;
	left:10px;
	content:'';
	border-style: solid;
	border-width: 0 7px 7px 7px;
	border-color: transparent transparent #eff2f4 transparent;
}

/* Nodata */
section div.notes .nodata
{
	display:none;
}


/* Lines */
section div.notes .noteList>li,
section div.notes .noteForm
{
	background:#eff2f4;
	padding:7px;
	margin-bottom:1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.027);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.027);
	-o-box-shadow: 0px 2px 2px rgba(0,0,0,0.027);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.027);
}
section div.notes .noteList>li>*:not(.icon),
section div.notes .noteForm>*:not(.icon)
{
	margin-left:52px;
}

/* Fields */
section div.notes .noteList>li>.date
{
	position:relative;
	top:0;
	left:0;
}
section div.notes .noteList li .icon,
section div.notes .noteForm .icon
{
	float:left;
}
/*
section div.notes .noteList li .author
{
	font-weight:bold;
	margin-right:5px;
}
section div.notes .noteList li .option
{
	position:absolute;
	top:10px;
	right:10px;
	display:none;
}
section div.notes .noteList li:hover .option
{
	display:block;
}

/* Add */
/*
section div.notes .noteList form textarea
{
	width:100%;
	border:1px solid #ddd;
}
