/********************************************************************************************/
/* itemcards
/********************************************************************************************/
#itemcards
{

}
#itemcards .cover
{
	height:140px;
	background:#F2F2F2;
}
#itemcards .icon
{
	width:50px;
	height:50px;
	position:relative;
	top:-25px;
	left:50%;
	margin-left:-25px;
	background:#ccc;
}
#itemcards .title
{
	padding:0 10px 10px 10px;
	text-align:center;
	font-size:0.9em;
}