/* None of the context should be selectionnable */
/* Otherwise onclick we'd loose the focus in contenteditable */
.adminContext[data-template="/field/link"]
{
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

/* Current link */
.adminContext[data-template="/field/link"] .currentlink
{
	background:#fff;
	padding:10px;
	overflow:hidden;
	margin:0 0 25px 0;
	font-family:"ProximaNova-Regular";
	font-size:12px;
	color:#419BF9;
	text-align:center;
	border-radius:2px;
	border:1px solid #419BF9;
}

/* The tabs */
.adminContext[data-template="/field/link"] .tabs
{
	border-bottom:1px solid #ccc;
	margin:0 0 15px 0;
	text-align:center;
}
.adminContext[data-template="/field/link"] .tabs>li
{
	display:inline-block;
	padding: 5px 15px;
	margin:0 10px 0 0;
	font-family:"ProximaNova-Bold";
	position:relative;
	bottom:-1px;
	border:1px solid #ccc;
	border-bottom:none;
	font-size:10px;
	opacity:0.7;
	cursor:pointer;
	text-transform:uppercase;
}
.adminContext[data-template="/field/link"] .tabs li.on
{
	opacity:1;
	background:#eee;
}
.adminContext[data-template="/field/link"] .tabs li:hover
{
	opacity:0.9;
	background:#eee;
}

/* The panels */
.adminContext[data-template="/field/link"] .panels
{
}
.adminContext[data-template="/field/link"] .panels>div
{
}
.adminContext[data-template="/field/link"] .panels>div.off
{
	display:none;
}
.adminContext[data-template="/field/link"] .panels>div.on
{

}

/* External links */
.adminContext[data-template="/field/link"] [data-panel="external"] iframe
{
	height:50px;
	width:60%;
	float:left;
}
.adminContext[data-template="/field/link"] [data-panel="external"] button
{
	float:right;
}

/* Internal links */
.adminContext[data-template="/field/link"] [data-panel="internal"] input
{
	width:100%;
	background:#fff;
	border:1px solid #ccc;
	padding:5px 7px;
	margin:0 0 10px 0;
	border-radius:2px;
}
.adminContext[data-template="/field/link"] [data-panel="internal"] ul
{
	margin:0 0 10px 0;
	overflow:auto;
}
.adminContext[data-template="/field/link"] [data-panel="internal"] li
{
	margin:0 5px 5px 0;
	float:left;
}