/********************************************************************************************/
/* Some styling
/********************************************************************************************/
li[data-type="sirtrevor"] .wrapper .st-block__inner
{
	padding:10px;
}
li[data-type="sirtrevor"] .wrapper .st-text-block
{
	font-family:'Raleway-Regular';
	font-size:0.8em;
}
li[data-type="sirtrevor"] .wrapper .st-text-block b
{
	font-family:'Raleway-Bold';
	font-weight:bold; /* take that away and un-bold won't work */
}
li[data-type="sirtrevor"] .wrapper .st-text-block i
{
	font-family:'Raleway-Regular-Italic';
	font-style:italic; /* take that away and un-italic won't work */
}
li[data-type="sirtrevor"] .wrapper .st-text-block--heading
{
	font-style:'Raleway-Regular';
	font-size:1.4em;
}
li[data-type="sirtrevor"] .wrapper .st-text-block>div
{
	margin-bottom:10px;
}
li[data-type="sirtrevor"] .wrapper .st-text-block>ul
{
	display: block;
	list-style-type: disc; /* take that away and list block won't work */
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}