section[data-template="/timeline/timeline"] ol
{
	max-width:700px;
	margin:auto;
}
section[data-template="/timeline/timeline"] ol>li:not(.divider)
{
	font-size: 12px;
	position:relative;
	clear:left;
	margin-bottom:15px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
section[data-template="/timeline/timeline"] ol>li>.padding
{
	background:#fff;
	padding:15px;
	margin:0 65px;
	border-radius:2px;
	position:relative;
}
section[data-template="/timeline/timeline"] ol>li>.padding:before
{
	content:'';
	position:absolute;
	left:-10px;
	top:50%;
	margin-top:-10px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #fff; 
}

/* Icon */
section[data-template="/timeline/timeline"] ol>li>.icon
{
	border:1px dashed transparent;
	height:40px;
	width:40px;
	overflow:hidden;
	border-radius:50%;
	margin-top:-20px;
	position:absolute;
	top:50%;
}
section[data-template="/timeline/timeline"] ol>li>.icon:hover
{
}
section[data-template="/timeline/timeline"] ol>li>.icon:empty
{
	border-color:rgba(0, 0, 0, .2);
}
section[data-template="/timeline/timeline"] ol>li>.icon a
{
	height:100%;
	background:#FEFEFE;
	display:block;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}

/* Title */
section[data-template="/timeline/timeline"] ol>li>.padding>.title
{
	font-size:15px;
	line-height:1.2em;
	color:#333;
	padding:0 !important;
	font-family: "ProximaNova-Regular";
}
section[data-template="/timeline/timeline"] ol>li>.padding>.title .author
{
	font-family: "ProximaNova-Bold";
}
section[data-template="/timeline/timeline"] ol>li>.padding>.title .item
{
	text-transform:uppercase;
	border-radius:2px;
	font-size:12px;
	position:relative;
	top:-1px; /* Alignement optique */
	padding:3px 4px 2px 4px;
	color:#fff;
	background:#999;
	margin:0 5px 0 0;
}
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails
{
	overflow:auto;
	margin:10px 0 0 0;
}


section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li
{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 1px 1px 0;
}
/* one item */
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(1)
{
	height:300px;
}
/* two items */
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(2),
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(2) ~ li
{
	height:350px;
	width:50%;
	float:left;
}
/* three items */
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(3),
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(3) ~ li
{
	height:250px;
	width:100%;
	float:left;
}
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(3) ~ li:nth-last-child(2),
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(3) ~ li
{
	height:250px;
	width:50%;
}
/* four items */
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(4),
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(4) ~ li
{
	height:250px;
	width:100%;
	float:left;
}
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(4) ~ li:nth-last-child(2),
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(4) ~ li:nth-last-child(3),
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li:first-child:nth-last-child(4) ~ li
{
	width:33.33333% !important;
	height:180px;
}

section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li a
{
	height:100%;
	background:#FEFEFE;
	display:block;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	border:1px solid #eee;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
section[data-template="/timeline/timeline"] ol>li>.padding>.thumbnails li a:hover
{
}
section[data-template="/timeline/timeline"] ol>li>.padding>.action
{
	display:none;
}