/********************************************************************************************/
/* template
/********************************************************************************************/
.fieldAppContainer
{
	text-align:center;
}
.fieldAppContainer>span
{
	display:inline-block;
	line-height:25px;
}
.in2col section.edit>form>fieldset ol>li.app .wrapper span>label
{
	display:inline-block;
}
.in2col section.edit>form>fieldset ol>li.app>.wrapper .field .field
{
	display:inline-block;
}
/* config */
.in2col section.edit>form>fieldset ol>li.app li label
{
	color:#333333;
	width:120px;
	display:inline-block;
	vertical-align:top;
	padding:10px;
	text-align:right;
	font-size:0.9em;
}
.fieldAppParamArray
{
	margin-top:15px;
	position:relative;
	background:#FCFCFC;
	padding:10px;
	moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.fieldAppParamArray:before
{
	position:absolute;
	top:-10px;
	left:50%;
	margin-left:-10px;
	content:'';
	border-style: solid;
	border-width: 10 10px 10px 10px;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #FCFCFC transparent;
}
/* Sub fields */
.in2col section.edit>form>fieldset ol>li.app li .wrapper
{

}