/********************************************************************************************/
/* Array
/********************************************************************************************/
[data-type="array"] .data:empty
{
	padding:50px 0 40px 0;
}
[data-type="array"] .data li li
{
	display:inline-block;
	width:50%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
[data-type="array"] .data li li label
{
	display:none;
}
[data-type="array"] .data li li .wrapper
{
	width:100% !important;
}
/* No possible render? Render flat! */
li[data-type="array"] .wrapper .flat
{
	padding:15px;
}
li[data-type="array"] .wrapper .flat p
{
	margin-bottom:5px;
}
li[data-type="array"] .wrapper .flat pre
{
	white-space:pre-wrap;
}