/********************************************************************************************/
/* Feed
/********************************************************************************************/
ol>li.select {
	margin:20px 0;
	overflow:auto;
}
ol>li.select .field {
	float:left;
	width:40%;

	text-align:right;
}
ol>li.select .field select {
	width:300px;
	position:relative;
	top:-25px;
}
ol>li.select label,
ol>li.select .help {
	float:right;
	clear:right;
	width:45%;
	padding-right:100px;
}

ol>li.select label
{
	font-size:2em;
	position:relative;
	margin:0 0 3px 0;
}
ol>li.select .help
{
	color:#999;
}
ol>li.select label:before
{
	content:'{';
	position:absolute;
	top:-25px;
	left:-40px;
	color:#ddd;
	font-size:90px;
}

/********************************************************************************************/
/* Feed
/********************************************************************************************/
ol>li.feed .field {
	border:none !important;
}
ol>li.feed .field {
	border:none !important;
}
ol>li.feed .field .selected,
ol>li.feed .field .available
{
	width:31%;
	margin:10px;
}
ol>li.feed .field p
{
	margin:0 0 5px 0;
	color:#666;
	padding:0 0 0 20px;
	position:relative;
	text-transform:uppercase;
}
ol>li.feed .field p:before
{
	content:'⇣';
	font-size:40px;
	position:absolute;
	top:-6px;
	left:0px;
	color:#ccc;
}
ol>li.feed .field .cc-bubble
{
	position:absolute;
	top:-30px;
	right:-20px;
	display:none;
}

/* Selected */
ol>li.feed .field .selected.list
{
	float:left;
}
ol>li.feed .field .selected.detail
{
	float:right;
}
ol>li.feed .field .selected ol
{
	border:1px dashed #ddd;
	padding:5px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
ol>li.feed .field .selected .placeholder
{
	height:30px;
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	background-size: 40px 40px; /* Controls the size of the stripes */
	background-color: transparent;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,
		color-stop(.055, rgba(0, 0, 0, .05)), color-stop(.055, transparent),
		color-stop(.5, transparent), color-stop(.5, rgba(0, 0, 0, .05)),
		color-stop(.75, rgba(0, 0, 0, .05)), color-stop(.75, transparent),
		to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
		transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
		transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
		transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
		transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
		transparent 75%, transparent);
}

/* Available */
ol>li.feed .field .available
{
	float:left;
}
ol>li.feed .field .available ul
{
	overflow:auto;
	max-height:250px;
}
ol>li.feed .field .available li .delete,
ol>li.feed .field .available li .descr
{
	display:none;
}

/* Refine */
ol>li.feed .refine input
{
	width:100% !important;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin:0 0 5px 0;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

/* Nodata */
ol>li.feed .field li:not(.nodata)
{
	background:#F2F2F2;
	padding:5px;
	margin:1px 0;
	font-size:0.9em;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	-moz-user-select:none;
	-webkit-user-select:none;
}
ol>li.feed .field li:not(.nodata):hover
{
	background:#eee;
}

/* Champs*/
ol>li.feed .field li .icon
{
	width:17px;
	height:17px;
	float:left;
	margin:0 !important;
}

ol>li.feed .field li .title
{
	margin-left:23px;
}
ol>li.feed .field li .descr
{
	color:#ccc;
	margin-left:23px;
}
ol>li.feed .field li .delete
{
	float:right;
	width:13px;
	height:13px;
	font-size:8px;
}
ol>li.feed .field li .delete:before
{
	content:'×';
}