.editWrapper .wrapper
{
	width:100%;
}
.editWrapper .wrapper ol
{
	background:#F3F3F3;
	margin-bottom:3px;
	moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding:5px;
	margin:10px;
}