/********************************************************************************************/
/* i18n
/********************************************************************************************/
ol>li[data-type="i18n"] .field li
{
}
ol>li[data-type="i18n"] .field label
{
	border-radius:2px;
	padding:2px 5px;
	margin:10px 10px 0 0;
	color:#fff;
	background:#ccc;
	text-transform:uppercase;
	font-size:10px;
	vertical-align:top;
}
ol>li[data-type="i18n"] .field .wrapper .field
{
	padding:0 !important;
	border:none !important;
}