/********************************************************************************************/
/* Go
/********************************************************************************************/
li[data-type="media"] .wrapper ol.data
{
	text-align:center;
	position:relative;
	border:1px dashed transparent;
	border-radius:3px;
}
li[data-type="media"] .wrapper ol.data.hover
{
	cursor:pointer;
	border-color:#FE9400;
}
li[data-type="media"] .wrapper ol.data li
{
	display:inline-block;
	margin:10px 0 10px 10px;
	width:120px;
	color:#ddd;
	position:relative;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	vertical-align:top;
}
li[data-type="media"] .wrapper ol.data li:not(.add)
{
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
li[data-type="media"] .wrapper ol.data li:not(.add):hover
{
	border-color: #419BF9;
	-webkit-box-shadow: 0 0 4px #419BF9;
	box-shadow: 0 0 4px #419BF9;
	cursor:move;
}
li[data-type="media"] .wrapper ol.data li .delete
{
	position:absolute;
	top:5px;
	right:5px;
	z-index:3;
}
li[data-type="media"] .wrapper ol.data li:hover .delete
{
	display:block;
}

/* Add */
li[data-type="media"] .wrapper ol.data li.add
{
	height:120px;
	line-height:130px;
	font-size:40px;
	border:1px dashed transparent;
	-webkit-transition: all .1s ease-out; 
	-moz-transition: all .1s ease-out; 
	-o-transition: all .1s ease-out; 
	transition: all .1s ease-out;
	cursor:pointer;
}
.contextOpened1 li[data-type="media"] .wrapper ol.data li.add
{
	width:0;
}
.contextOpened1 li[data-type="media"] .wrapper ol.data li.add:before
{
	content:'';
}
li[data-type="media"] .wrapper ol.data li.add:before
{
	content:"+";
	font-size:90px;
	text-align:center;
	color:#666;
	line-height:120px;
}
li[data-type="media"] .wrapper ol.data li.add:hover:before
{
	color:#419BF9;
}

/********************************************************************************************/
/* fields
/********************************************************************************************/
li[data-type="media"] .wrapper ol.data li
{
	overflow:hidden;
}
li[data-type="media"] .wrapper ol.data li .preview
{
	border-bottom:1px solid #ddd;
	display:block;
	overflow:hidden;
}
li[data-type="media"] .wrapper ol.data li .preview img
{
	display:block;
	width:100%;
}
li[data-type="media"] .wrapper ol.data li .title {
	font-size:11px;
	display:block;
	color:#333;
	padding:10px;
	background:#fff;
}

/********************************************************************************************/
/* Template
/********************************************************************************************/
li[data-type="media"] .wrapper .template
{
	display:none;
}