/********************************************************************************************/
/* Multiple Select
/********************************************************************************************/
ol>li[data-type="multipleselect"] .field {
	border:none !important;
}
ol>li[data-type="multipleselect"] .field .selected,
ol>li[data-type="multipleselect"] .field .available
{
	width:49.5%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:10px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position:relative;
}
ol>li[data-type="multipleselect"] .field p
{
	margin:0 0 5px 0;
	color:#666;
	position:relative;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.69);
}
ol>li[data-type="multipleselect"] .field .cc-bubble
{
	top:-30px;
	right:-20px;
	display:none;
}

/********************************************************************************************/
/* Selected */
/********************************************************************************************/
ol>li[data-type="multipleselect"] .field .selected
{
	float:left;
	border:1px dashed #ddd;
	-webkit-transition: all .15s ease-out; 
	-moz-transition: all .15s ease-out; 
	-o-transition: all .15s ease-out; 
	transition: all .15s ease-out;
}
ol>li[data-type="multipleselect"] .field .selected ol
{
}

/********************************************************************************************/
/* Available */
/********************************************************************************************/
ol>li[data-type="multipleselect"] .field .available
{
	float:right;
	background:#F3F3F3;
}
ol>li[data-type="multipleselect"] .field .available ul
{
	overflow:auto;
	max-height:250px;
}
ol>li[data-type="multipleselect"] .field .available li .delete
{
	display:none;
}

/* Refine */
ol>li[data-type="multipleselect"] .refine input
{
	width:100% !important;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin:0 0 5px 0;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

/* Nodata */
ol>li[data-type="multipleselect"] .field li:not(.nodata)
{
	border:1px solid #dedede;
	background:#fff;
	padding:5px;
	margin:1px 0;
	min-height:17px;
	font-size:0.9em;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	-moz-user-select:none;
	-webkit-user-select:none;
}
ol>li[data-type="multipleselect"] .field li:not(.nodata):hover
{
	border-color: #3eb4d6;
	-webkit-box-shadow: 0 0 4px #3eb4d6;
	box-shadow: 0 0 4px #3eb4d6;
}

/* Champs*/
ol>li[data-type="multipleselect"] .field li .icon
{
	width:17px;
	height:17px;
	float:left;
	margin:0 !important;
}

ol>li[data-type="multipleselect"] .field li .title
{
	margin:2px 0 0 23px;
}
ol>li[data-type="multipleselect"] .field li .delete
{
	float:right;
}