/********************************************************************************************/
/* On page love
/********************************************************************************************/


/********************************************************************************************/
/* Browser
/********************************************************************************************/
li[data-type="zoning"]
{
	background:transparent !important;
}
li[data-type="zoning"] .zoningselected,
li[data-type="zoning"] .zoningavailable
{
	float:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
li[data-type="zoning"] .zoningselected
{
	width:70%;
}
li[data-type="zoning"] .zoningavailable
{
	width:30%;
}
/* Kill the available when context is open */
.contextOpened1 li[data-type="zoning"] .zoningselected,
.contextOpened1 li[data-type="zoning"] .zoningselected
{
	width:100%;
}
.contextOpened1 li[data-type="zoning"] .zoningselected .zones,
.contextOpened1 li[data-type="zoning"] .zoningselected .zones
{
	margin-right:70px;
}
.contextOpened1 li[data-type="zoning"] .zoningavailable,
.contextOpened1 li[data-type="zoning"] .zoningavailable
{
	display:none;
}

/********************************************************************************************/
/* Devices
/********************************************************************************************/
li[data-type="zoning"] .devices
{
	margin:0 auto 10px auto;
	font-family:"ProximaNova-Regular";
	text-align:center;
	text-transform:uppercase;
	font-size:10px;
}
li[data-type="zoning"] .devices li
{
	display:inline-block;
	margin:0 10px;
	color:#999;
}

/********************************************************************************************/
/* Browser
/********************************************************************************************/
li[data-type="zoning"] .zoningselected .zones
{
	margin:0 110px 20px 70px;
	-moz-user-select:none;
	-webkit-user-select:none;
	border-radius:5px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #ccc;
	background:#fff;
	padding:15px 10px 10px 10px;
	position:relative;
}
li[data-type="zoning"] .zoningselected .zones .browserbar
{
	background:#F2F2F2;
	color:#ccc;
	position:absolute;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 10px;
	height:40px;
	top:0;
	left:0;
	line-height:40px;
}
li[data-type="zoning"] .zoningselected .zones .browserbar .buttons
{
	display:inline-block;
	vertical-align:middle;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin-right:10px;
}
li[data-type="zoning"] .zoningselected .zones .browserbar .addressbar
{
	background:#fcfcfc;
	line-height:25px;
	display:inline-block;
	vertical-align:middle;
	padding:0 10px;
	font-size:10px;
	width:60%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
li[data-type="zoning"] .zoningselected .zones iframe
{
	width:200%;
	height:200%;
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}


li[data-type="zoning"] .zones.in
{
	padding-top:55px;
}
/*
li[data-type="zoning"] .zones.out
{
	padding-top:15px;
}
li[data-type="zoning"] .zones.in:before
{
	content:'';
	color:#999;
	background-color: #DFDFDF;
	display: block;
	position: absolute;
	left:0;
	border-bottom: 1px solid #D3D3D3;
	width: 100%;
	padding:0 10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height: 50px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	top:0;
}

/********************************************************************************************/
/* Zones
/********************************************************************************************/
li[data-type="zoning"] .zones .zone
{
	position:relative;
	clear:both;
	margin:0 0 5px 0;
}

/* Zone title */
li[data-type="zoning"] .zones .zone>.title
{
	position:absolute;
	left:-100px;
	top:10px;
	height:20px;
	line-height:20px;
	padding:0 5px 0 0;
	width:75px;
	color:#666666;
	font-size:10px;
	font-family:"ProximaNova-Regular";
	letter-spacing:0.5px;
	text-transform:uppercase;
	text-align:right;
}
li[data-type="zoning"] .zones .zone>.title:after
{
	content:"â—";
	position:absolute;
	right:-40px;
	top:10px;
	z-index:1;
	border-bottom:1px solid #ccc;
	width:38px;
	line-height:0.17px;
	letter-spacing:-4px;
	font-size:10px;
	color:#666666;
}
.unlocked li[data-type="zoning"] .zones .zone>.title
{
	display:block;
}
li[data-type="zoning"] .zones .zone.right>.title
{
	left:auto;
	right:-100px !important;
	text-align:left;
	padding:0 0 0 10px;
	border:none;
}
li[data-type="zoning"] .zones .zone.right>.title:after
{
	left:-39px !important;
}

/* Champs */
li[data-type="zoning"] .zones li,
li[data-type="zoning"] .choices li
{
	border:1px solid #eee;
	background:#fff;
	margin:5px 0;
	font-size:0.9em;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-user-select:none;
	-webkit-user-select:none;
	position:relative;
	overflow:hidden;
}
li[data-type="zoning"] .zones li:hover,
li[data-type="zoning"] .choices li:hover
{
	border-color: #419BF9;
	-webkit-box-shadow: 0 0 4px #419BF9;
	box-shadow: 0 0 4px #419BF9;
}
li[data-type="zoning"] .zones li.focus
{
	border-color: #ffc000;
	-webkit-box-shadow: 0 0 4px #ffc000;
	box-shadow: 0 0 4px #ffc000;
}

li[data-type="zoning"] .zones li .title,
li[data-type="zoning"] .choices li .title
{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	z-index:3;
	font-family:"ProximaNova-Bold";
	text-transform:uppercase;
	margin-top:-11px;
}
li[data-type="zoning"] .zones li.focus .title span
{
	background:#ffc000;
}
li[data-type="zoning"] .zones li .title>span,
li[data-type="zoning"] .choices li .title>span
{
	background:rgba(0, 0, 0, 0.5);
	color:#fff;	
	border-radius:3px;
	padding:0 10px;
	line-height:24px;
	height:22px;
	display:inline-block;
}
li[data-type="zoning"] .zones li .preview
{
	min-height:40px;
}
li[data-type="zoning"] .zones li .preview iframe
{
	width:200%;
	height:200%;
	opacity:0.4;
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	pointer-events:none;
}
li[data-type="zoning"] li .descr
{
	color:#ccc;
	margin-left:23px;
}
li[data-type="zoning"] li .handle
{
	position:absolute;
	top:5px;
	left:5px;
}
li[data-type="zoning"] li .delete
{
	top:2px;
	right:2px;
}
li[data-type="zoning"] li .handle,
li[data-type="zoning"] li .delete
{
	display:none;
}

/********************************************************************************************/
/* Selected sections */
/********************************************************************************************/
/* Floats */
li[data-type="zoning"] .selected.left,
li[data-type="zoning"] .selected.right
{
	clear:none !important;
	width:50%;
}
li[data-type="zoning"] .selected.left
{
	float:left;
}
li[data-type="zoning"] .selected.right
{
	float:right;
}

/* Sections */
li[data-type="zoning"] .selected ol
{
	padding:5px 10px;
	margin:0 3px;
	background:#F2F2F2;
}
li[data-type="zoning"] .selected li
{
	min-height:40px;
}
li[data-type="zoning"] .selected ol li:hover .handle,
li[data-type="zoning"] .selected ol li:hover .delete
{
	display:block;
}
li[data-type="zoning"] .selected ol li .title
{
	cursor:pointer;
	display:none;
}
li[data-type="zoning"] .selected ol li.focus .title,
li[data-type="zoning"] .selected ol li:hover .title
{
	display:block;
}
li[data-type="zoning"] .selected ol li .title:hover
{
	color:#419BF9;
}
li[data-type="zoning"] .selected ol li .config
{
	clear:both;
	border-top:1px solid #ccc;
	padding:10px;
	margin-top:5px;
}

/* Nodata */
ol>li[data-type="zoning"] .selected ol
{

}
ol>li[data-type="zoning"] .selected ol:empty:before
{
	line-height:30px;
	color:#999;
}

/********************************************************************************************/
/* Available apps & sections
/********************************************************************************************/
li[data-type="zoning"] .available
{
	background:#F5F5F5;
	padding:10px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
li[data-type="zoning"] .available p
{
	margin:0 0 5px 0;
	color:#999;
}

/* Refine */
li[data-type="zoning"] .available .refine input
{
	width:100% !important;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin:0 0 5px 0;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:5px;
}

/* Available */
li[data-type="zoning"] .available ul
{
	overflow:auto;
	max-height:600px;	
}
li[data-type="zoning"] .available li
{
	height:40px;
	cursor:move;
}
