/********************************************************************************************/
/* Common 
/********************************************************************************************/
section[data-template="tree/tree"]
{
}

section[data-template="tree/tree"] ol
{
}
section[data-template="tree/tree"] ol li
{
	display:inline-block;
	white-space:nowrap;
	vertical-align:top;
}

/********************************************************************************************/
/* Pages
/********************************************************************************************/
section[data-template="tree/tree"] ol li .page
{
	margin:0 5px 70px 5px;
	padding:10px;
	border:1px solid transparent;
	display:inline-block;
	white-space:normal;
}
section[data-template="tree/tree"] ol li .page:hover
{
	border-color:#ddd;
	border-radius:3px;
}

/* The icon */
section[data-template="tree/tree"] ol li .page .icon
{
	width:80px;
	height:100px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#F2F2F2;
	padding:15px 10px;
	text-align:center;
	border:1px solid transparent;
	display:inline-block;
	position:relative;
}
section[data-template="tree/tree"] ol li .page .icon:hover
{
}

/* Badges */
section[data-template="tree/tree"] ol li .page .icon .cc-badge
{
	top:-5px;
	right:-5px;
}

/* The title */
section[data-template="tree/tree"] ol li .page .icon>.title
{
	font-family: "Raleway-Regular";
	font-size:12px;
	margin-bottom:15px;
}
section[data-template="tree/tree"] ol li .page .icon>.title a
{
	color:#333;
}

/* The Detail */
section[data-template="tree/tree"] ol li .page .detail
{
	font-family: "Raleway-Regular";
	color:#ccc;
	margin:15px;
	font-size:10px;
	display:inline-block;
}

/* By status */
section[data-template="tree/tree"] ol li .page[data-status="asleep"] .icon
{
	border:1px dashed #ccc;
	background:#fff;
}

/* Home */
section[data-template="tree/tree"]>ol>li>.page
{
	margin-left:30%;
}

/********************************************************************************************/
/* Action */
/********************************************************************************************/
section[data-template="tree/tree"] li * .action
{
	display:none;
}

/********************************************************************************************/
/* Kill draggable animations */
/********************************************************************************************/
section[data-template="tree/tree"].ui-sortable li
{
	cursor:auto;
    -webkit-transition:none !important;
    -moz-transition:none !important;
    transition:none !important;
}
section[data-template="tree/tree"].ui-sortable .ui-sortable-helper
{
	box-shadow:none !important;
	background:none !important;
	border:none !important;
    -webkit-transform:none !important;
    -moz-transform:none !important;
    transform:none !important;
}
section[data-template="tree/tree"].ui-sortable .ui-sortable-helper:before,
section[data-template="tree/tree"].ui-sortable .ui-sortable-helper:after
{
	display:none;
}
section[data-template="tree/tree"] li ol li.ui-sortable-helper>*:before
{
	border:none;
}

/* new draggable animations */
section[data-template="tree/tree"].ui-sortable li .icon
{
	cursor:move;
}
section[data-template="tree/tree"].ui-sortable li .icon:hover,
section[data-template="tree/tree"].ui-sortable-dragging .icon
{
	box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, .1) !important;
}

/* Placeholder */
section[data-template="tree/tree"] li.placeholder
{
}

/********************************************************************************************/
/* Header
/********************************************************************************************/
section[data-template="tree/tree"] li .pageheader
{

}

/********************************************************************************************/
/* Links
/********************************************************************************************/
section[data-template="tree/tree"] li .pagelink
{
	
}
section[data-template="tree/tree"] li .pagelink .icon
{
}

/* Second-level pages for readability */
section[data-template="tree/tree"]>li>ol>li>.pagelink:first-child
{
	background:#eee;
}