/********************************************************************************************/
/* Common 
/********************************************************************************************/
section[data-template="tree/tree"]
{
}
section[data-template="tree/tree"] li
{
	position:relative;
	padding:0;
}
section[data-template="tree/tree"] li ol
{
	position:relative;
	margin:0px 0 0px 50px;
}

/* Second-level pages for readability */
section[data-template="tree/tree"]>li>ol>li>*:first-child
{
	background:#ccc;
	-moz-border-radius: 40px;
	border-radius: 40px;
	padding:10px;
	width:400px;
}
section[data-template="tree/tree"]>li>ol>li>*:first-child .icon
{
	border:none;
}

/* Connexions */
section[data-template="tree/tree"] ol:before
{
	content:'';
	height:100%;
	top:-5px;
	position:absolute;
	z-index:-1;
	left:-27px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:1px;
	background:#eee;
	border-bottom:1px solid #fff;
}
section[data-template="tree/tree"] li ol li *:first-child:before
{
	content:'';
	border-top:1px solid #eee;
	width:30px;
	height:50px;
	position:absolute;
	z-index:-1;
	top:50%;
	left:-40px;
}
section[data-template="tree/tree"] li ol li *:first-child:after
{
	content:'';
	width:25px;
	height:25px;
	margin-top:-10px;
	left:-65px;
	top:50%;
	background:#eee;
	position:absolute;
}

/* Icon (handle) & placeholder */
section[data-template="tree/tree"] li * .icon
{
	margin:0 10px 0 0;
}

/* Title */
section[data-template="tree/tree"] li * .title
{
	font-family: "Raleway-Thin";
}
section[data-template="tree/tree"] li li li * .title
{
	font-size:1em;
}
section[data-template="tree/tree"] li * .title a:not(:hover)
{
	color:#666;
}
/* URL */
section[data-template="tree/tree"] li * .url
{
	font-size:1em;
	color:#ccc;
}

/* Action */
section[data-template="tree/tree"] li * .action
{
	display:none;
}

/* Kill draggable animations */
section[data-template="tree/tree"].ui-sortable li
{
	cursor:auto;
    -webkit-transition:none !important;
    -moz-transition:none !important;
    transition:none !important;
}
section[data-template="tree/tree"].ui-sortable .ui-sortable-helper
{
	box-shadow:none !important;
	background:none !important;
	border:none !important;
    -webkit-transform:none !important;
    -moz-transform:none !important;
    transform:none !important;
}
section[data-template="tree/tree"].ui-sortable .ui-sortable-helper:before,
section[data-template="tree/tree"].ui-sortable .ui-sortable-helper:after
{
	display:none;
}
section[data-template="tree/tree"] li ol li.ui-sortable-helper>*:before
{
	border:none;
}

/* new draggable animations */
section[data-template="tree/tree"].ui-sortable li .icon
{
	cursor:move;
}
section[data-template="tree/tree"].ui-sortable li .icon:hover,
section[data-template="tree/tree"].ui-sortable-dragging .icon
{
	box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, .1) !important;
}

/* Placeholder */
section[data-template="tree/tree"] li.placeholder
{
	width:70px;
	height:70px;
	margin:0 0 10px 0;
	border-radius:40px;
}

/********************************************************************************************/
/* Pages
/********************************************************************************************/
section[data-template="tree/tree"] li>div
{
	position:relative;
	margin:0px 0 10px 0;
}

/* Icon */
section[data-template="tree/tree"] li .page .icon
{
	width:50px;
	height:50px;
	font-size:20px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background:#fff;
	color:#666;
	font-family: "Raleway-Thin";
	font-size:20px;
	line-height:50px;
	border:1px dashed rgba(0, 0, 0, .2);
	font-feature-settings: 'lnum';
/* vendor-prefixes */
-moz-font-feature-settings: 'lnum=1';
-ms-font-feature-settings: 'lnum';
-webkit-font-feature-settings: 'lnum';
-o-font-feature-settings: 'lnum';
}
section[data-template="tree/tree"] li .page .title
{
	font-size:1.5em;
	padding:5px 0 0 0;
}

/********************************************************************************************/
/* Header
/********************************************************************************************/
section[data-template="tree/tree"] li .pageheader
{

}

/********************************************************************************************/
/* Links
/********************************************************************************************/
section[data-template="tree/tree"] li .pagelink
{
	
}
section[data-template="tree/tree"] li .pagelink .icon
{
	width:35px !important;
	height:35px !important;
	line-height:35px;
	background:#ddd;
}

/* Second-level pages for readability */
section[data-template="tree/tree"]>li>ol>li>.pagelink:first-child
{
	background:#eee;
}