/********************************************************************************************/
/* Common */
/********************************************************************************************/
.instack section.listing>ol
{
	
}
.instack section.listing>ol>li
{
	border:1px solid #ddd;
	background:#fff;
	border-radius:3px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	margin:5px;
}
.instack section.listing>ol>li>.padding>div:not(.icon)
{
	margin-left:30px;
	margin-bottom:5px;
}
.instack section.listing>ol>li>.padding
{
	padding:10px;
}
/* Media */
.instack section.listing>ol>li>.media
{
	margin:0 0 5px 0 !important;
	border-bottom:1px solid #ddd;
}
.instack section.listing>ol>li>.media img
{
	width:100%;
	margin:0 !important;
}
/* Title */
.instack section.listing>ol>li>.padding>.title
{
	font-size:1em;
	padding-top:5px;
	font-family:"proximanovaregular";
}
.instack section.listing>ol>li>.padding>.title .reach
{
	display:none;
}
.instack section.listing>ol>li>.padding>.title:hover .reach
{
	display:inline;
}
.instack section.listing>ol>li>.padding>.title .flag
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:#F2F2F2;
	color:#aaaaaa;
	font-size:0.8em;
	padding:3px 7px;
	margin-left:10px;
	border:none;
}
.instack section.listing>ol>li>.padding>.title .flag.on
{
	background:#3eb4d6;
	color:#ffffff;
	display:inline;
}

.instack section.listing>ol>li>.padding>.title .flag.archive,
.instack section.listing>ol>li>.padding>.title .flag.workflow
{
	display:none;
}
.instack section.listing>ol>li>.padding>.title:hover .flag
{
	display:inline;
}
/* Descr */
.instack section.listing>ol>li>.padding>.descr
{
	color:#777;
	font-size:0.9em;
}
.instack section.listing>ol>li>.padding>.fork
{
	display:none;
}
.instack section.listing>ol>li>.padding>.archives
{
	display:none;
	margin:7px 7px 0 7px;
	font-size:0.8em;
	list-style-type:square;
}
.instack section.listing>ol>li>.padding>.archives li
{
	margin:0 0 3px 15px;
}

/********************************************************************************************/
/* in Grid
/********************************************************************************************/
.ingrid section.listing>ol>li
{
	float:left;
	width:120px;
	height:120px;
	padding:10px;
	border:none;
	clear:none;
}
.ingrid section.listing>ol>li>.icon
{
	float:none;
	margin:auto auto 10px auto;
	width:70px;
	height:70px;
}
.ingrid section.listing>ol>li>.title
{
	font-size:0.8em;
	text-align:center;
	height:25px;
	overflow:hidden;
}
.ingrid section.listing>ol>li>.title .infeed
{
	color:#999999;
	display:block;
}

/********************************************************************************************/
/* Unlocked
/********************************************************************************************/
.unlocked section.listing>ol>li>.icon
{
	background-color:#999;
}

/********************************************************************************************/
/* Draggable
/********************************************************************************************/
section.listing>ol>li.ui-draggable-dragging
{
	display:block;
	width:80px !important;
	height:80px !important;
	border-radius:100px;
	overflow:hidden;
	opacity:0.8;
}
section.listing>ol>li.ui-draggable-dragging *
{
	white-space:nowrap;
}

/********************************************************************************************/
/* Responsive
/********************************************************************************************/
/* 1024 screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.instack section.listing>ol>li
	{
		width:100%;
	}
}
/* 1280 screens */
@media screen and  (min-width: 1024px) and (max-width: 1280px) {
	.instack section.listing>ol>li
	{
		width:50%;
	}	
}
/* 1440 screens */
@media screen and  (min-width: 1280px) and (max-width: 1440px) {
	.instack section.listing>ol>li
	{
		width:33.3%;
	}	
}
/* 1680 screens */
@media screen and  (min-width: 1440px) and (max-width: 1680px) {
	.instack section.listing>ol>li
	{
		width:25%;
	}
}
/* Bigger screens */
@media screen and  (min-width: 1680) {
	.instack section.listing>ol>li
	{
		width:20%;
	}
}